<section class="quick {{ style }} component">

	<div class="quick__wrapper wrapper">

		<h2 class="quick__heading font-h2">{{{ heading }}}</h2>

		<ul class="quick__list">
			{{#each cta }}<li class="quick__item">{{render '@button--tertiary' this  merge="true" }}</li>{{/each}}
		</ul>

	</div>

</section>