<div class="block my-8{{#if style}} {{style}}{{/if}}">
	<span class="block">{{ title }}</span>
	<span class="block uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block lowercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block">12345678901234567890!@#$%^&*()?</span>
</div>