<div class="block my-8">
	<span class="font-special">Specialty - Franklin Gothic Cond Demi</span>
</div>

<div class="user-markup">
	<h1 class="font-h1">Heading Level 1 - Franklin Gothic Cond Medium</h1>
	<br/>
	<h2 class="font-h2">Heading Level 2 - Franklin Gothic Cond Medium</h2>
	<br/>
	<h3 class="font-h3">Heading Level 3 - Franklin Gothic Cond Medium</h3>
	<br/>
	<h4 class="font-h4">Heading Level 4 - Franklin Gothic Cond Medium</h4>
	<br/>
	<h5 class="font-h5">Heading Level 5 - Franklin Gothic Cond Medium</h5>
	<br/>
	<h6 class="font-h6">Heading Level 6 - Franklin Gothic Cond Medium</h6>
	<br/>
</div>

<div class="block my-8">
	<span class="font-quote-text">Quote Text - Museo Slab 500 Italic</span>
</div>

<div class="block my-8">
	<span class="font-quote-subhead">Quote Subhead - Franklin Gothic Demi</span>
</div>

<div class="block my-8">
	<span class="font-intro">Intro - Museo Slab 500 Italic</span>
</div>

<div class="block my-8">
	<span class="font-sub-section">Subhead Section - Franklin Gothic Demi</span>
</div>

<div class="block my-8">
	<span class="font-button">Button - Franklin Gothic Cond Demi</span>
</div>

<div class="block my-8">
	<div class="font-body">Body text - Franklin Gothic Book<br/>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut eum ipsam nulla pariatur placeat recusandae velit, veniam vero voluptate. Aliquam aut exercitationem id, nisi possimus quasi quibusdam tenetur totam.</p>
	</div>
</div>

<div class="block my-8">
	<span class="font-caption">Caption - Museo Slab 500 Italic</span>
</div>

<div class="block my-8">
	<span class="font-stat">Stat - Franklin Gothic Cond Demi</span>
</div>