.chat {
	align-items: flex-start;
	bottom: 16px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	left: 100%;
	position: fixed;
	transform: translate(-78px, 244px);
	transition: transform $transition-time ease;
	z-index: 99;

	&__button {
		align-items: center;
		background: $black;
		border: 3px solid $white;
		color: $white;
		display: flex;
		flex-flow: column;
		flex-shrink: 0;
		font-size: 16px;
		font-weight: 900;
		height: 98px;
		justify-content: center;
		line-height: 0.816;
		padding: 8px;
		text-align: center;
		text-transform: uppercase;
		width: 78px;

		span {
			display: block;
			transition: transform $transition-time ease;
		}

		svg {
			flex-grow: 0;
			flex-shrink: 0;
			margin: auto;
			transition: transform $transition-time ease;
		}

		.brei-icon-chat {
			height: 44px;
			width: 49.66px;
		}

		.brei-icon-close {
			display: none;
			height: 30px;
			width: 30px;
		}

		&:hover {
			svg {
				transform: scale(1.2);
			}
		}

		&:focus-visible {
			outline: 4px solid $black;
		}
	}

	&__window {
		flex-shrink: 0;
		width: 242px;
	}

	&--open {
		transform: translate(-100%, 0);

		.brei-icon-chat {
			display: none;
		}

		.brei-icon-close {
			display: block;
		}
	}

	@include breakpoint(small) {
		&__window {
			width: 302px;
		}
	}
}
