.feed {
	$this: &;

	&__list {
		align-items: stretch;
		display: flex;
		flex-flow: column;
		gap: 16px;
		justify-content: flex-start;
		margin: 32px 0 0;
	}

	.btn--primary {
		margin-top: 48px;
	}

	@include breakpoint(medium) {
		&__list {
			flex-flow: row wrap;
		}

		.card {
			width: calc(50% - 8px);
		}

		&--wide {
			text-align: center;

			#{$this}__heading,
			#{$this}__list {
				text-align: left;
			}
		}
	}

	@include breakpoint(large) {
		&__list,
		.btn--primary {
			margin-top: 64px;
		}

		&--wide {
			.card {
				width: calc(33.3333% - 10.6666px);
			}
		}
	}
}
