.iframe {

	iframe {
		// aspect-ratio: 1 / 1;
		// height: auto;
		border: 0;
		margin-top: 32px;
		min-height: 428px;
		width: 100%;

		&[src*='vimeo'],
		&[src*='youtube'] {
			aspect-ratio: 16 / 9;
			min-height: 0;
		}
	}
}
