.iframe {

	iframe {
		// aspect-ratio: 1 / 1;
		// height: auto;
		// width: 100%;
		border: 0;
		display: block;
		margin: 0 auto;
		margin-top: 32px;
		max-width: 100%;
		min-height: 480px;

		&[src*='vimeo'],
		&[src*='youtube'] {
			aspect-ratio: 16 / 9;
			height: auto;
			min-height: 0;
		}
	}
}
