.image-cards {
	--inset-edge: 32px;
	$this: &;

	&__heading {
		font-style: italic;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
	}

	hr {
		margin: 1.5rem auto 40px;
	}

	&__grid {
		align-items: stretch;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 5;
	}

	&__item {
		--inset-edge: 16px;
		aspect-ratio: 1.423;
		overflow: hidden;
		position: relative;

		&:hover,
		&:focus-within {
			#{$this}__image {
				transform: scale(1.05);
			}
		}
	}

	&__figure {
		@extend %overlay;
		overflow: hidden;
		z-index: -5;
	}

	&__image {
		@extend %overlay;
		transition: transform $transition-time ease;
	}

	&__title {
		bottom: 40px;
		color: $white;
		font-size: 23.04px;
		font-weight: 900;
		left: 50%;
		line-height: 1;
		opacity: 1;
		padding: 1px 12px;
		position: absolute;
		text-transform: uppercase;
		transform: translateX(-50%);
		transition: opacity $transition-time ease;
		white-space: nowrap;
		width: fit-content;

		span {
			position: relative;
			// top: 6px;
			top: 4px;
		}

		&:after {
			@extend %overlay;
			background-color: $cwu-crimson;
			content: '';
			transform: skew(-12.5deg);
			z-index: -1;
		}
	}

	&__content {
		align-items: center;
		background-color: rgba($black, 0.88);
		color: $white;
		display: flex;
		flex-flow: column;
		height: 100%;
		justify-content: center;
		opacity: 0;
		padding: 40px;
		text-align: center;
		transition: opacity $transition-time ease;
		z-index: 15;
	}

	&__label {
		font-size: 23.04px;
		font-weight: 900;
		line-height: 1;
		text-transform: uppercase;
	}

	&__copy {
		font-size: 16px;
		margin: 16px 0 24px;
	}

	.btn--cta {
		--text: #{$white};

		&:after {
			left: 0;
			right: 100%;
		}
	}

	&__link {
		@extend %overlay;
		z-index: 20;
	}
	/*

	&__figure {
		aspect-ratio: 1.423;
		height: 100%;
		position: relative;
		z-index: 5;
		overflow: hidden;
	}

	&__image {
		@extend %overlay;
		transition: transform $transition-time ease;
	}



	&__copy {
		color: $white;
		padding: 0; // padding: 16px 0 24px;
		position: relative;
		font-size: 16px;
		overflow: hidden;
		max-height: 0;
		opacity: 0;
		transition: max-height $transition-time ease, opacity $transition-time ease, padding $transition-time ease;
	}

	*/

	&.animateOnce {
		@extend %bump-fade;
	}

	@include breakpoint(small) {
		&__title {
			font-size: 33.18px;

			span {
				top: 5px;
			}
		}

		&__label {
			font-size: 33.18px;
		}
	}

	@include breakpoint(small down) {
		&__item {
			clip-path: polygon(0% var(--inset-edge), 100% 0%, 100% calc(100% - var(--inset-edge)), 0% 100%);
		}
	}

	@include breakpoint(medium) {
		&__grid {
			flex-flow: row wrap;
			gap: 16px 0;
		}

		&__item {
			width: 50%;

			&:nth-child(1) {
				clip-path: polygon(0% 0%,  100% 0%, calc(100% - var(--inset-edge)) 100%, 0% 100%);
				width: calc(50% + 8px);

				#{$this}__content {
					padding-right: 48px;
				}
			}

			&:nth-child(2) {
				clip-path: polygon(var(--inset-edge) 0%, 100% 0%, 100% 100%, 0% 100%);
				width: calc(50% - 8px);

				#{$this}__content {
					padding-left: 32px;
				}
			}

			&:nth-child(3) {
				clip-path: polygon(0% 0%, 100% 0%, calc(100% - var(--inset-edge)) 100%, 0% 100%);
				width: calc(50% - 8px);

				#{$this}__content {
					padding-right: 32px;
				}
			}

			&:nth-child(4) {
				clip-path: polygon(var(--inset-edge) 0%, 100% 0%, 100% 100%, 0% 100%);
				width: calc(50% + 8px);

				#{$this}__content {
					padding-left: 48px;
				}
			}
		}
	}

	@include breakpoint(large) {
		hr {
			margin-bottom: 48px;
		}

		&__item {
			&:hover,
			&:focus-within {
				#{$this}__title {
					opacity: 0;
				}

				#{$this}__content {
					opacity: 1;
				}

				.btn--cta {
					&:after {
						left: 0;
						right: 0;
						transition-delay: 250ms;
					}
				}
			}
		}
	}

	@include breakpoint(xlarge) {
		&__content {
			padding: 60px;
		}

		&__item {
			&:nth-child(1) {
				#{$this}__content {
					padding-right: 68px;
				}
			}

			&:nth-child(2) {
				#{$this}__content {
					padding-left: 52px;
				}
			}

			&:nth-child(3) {
				#{$this}__content {
					padding-right: 52px;
				}
			}

			&:nth-child(4) {
				#{$this}__content {
					padding-left: 68px;
				}
			}
		}

		&__title {
			font-size: 39.81px;

			span {
				top: 7px;
			}
		}

		&__label {
			font-size: 39.81px;
		}

		&__copy {
			font-size: 19.2px;
		}
	}

	@include breakpoint(xxlarge) {
		&__title,
		&__label {
			font-size: 47.48px;
		}
	}

	@include breakpoint(xxxlarge) {
		&__title {
			font-size: 56.98px;

			span {
				top: 8px;
			}
		}

		&__label {
			font-size: 56.98px;
		}
	}
}
