.intro {
	&__copy {
		@extend %font-intro;
		padding-left: 1rem;
		position: relative;

		&:before {
			background-color: $brand-primary;
			bottom: 0.4em;
			content: '';
			left: -3px;
			position: absolute;
			top: 0.4em;
			width: 3px;
		}


		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}
