.ism {
	$this: &;
	background: $wild-sand;
	padding: 36px 0 48px;

	&__title {
		margin: 0 0 36px;
	}

	&__map {
		margin-left: -7px;
		position: relative;
		width: 109vw;
	}

	&__image {
		aspect-ratio: 1.511;
		max-width: auto;
		width: 100%;
	}

	&__location-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__location-item {
		position: absolute;
		transform: translate(-9.6px, -9.6px);

		&:first-child {
			.trigger {
				--border: #{$white};
				height: 30.5px;
				width: 30.5px;
			}
		}

		&.is-active {
			z-index: 10;
		}
	}

	&__location-link {
		// stylelint-disable declaration-no-important
		border: 0 !important;
		padding: 0;
		position: relative;

		&:link,
		&:visited,
		&:focus,
		&:hover {
			background: transparent;
			color: $black;
			text-decoration: none;
		}

		&:before {
			display: none;
		}

		.trigger {
			height: 19.2px;
			position: relative;
			width: 19.2px;
			z-index: 1;
		}

		.brei-icon-minus,
		.brei-icon-plus {
			display: none;
		}

		.brei-icon-peak {
			font-size: 38px;
		}
		// stylelint-enable declaration-no-important
	}

	&__location-name {
		background: $black;
		clip-path: polygon(12px 0%, 100% 0%, calc(100% - 12px) 100%, 0% 100%);
		// display: inline-block;
		display: none;
		padding: 2px 16px;
		position: relative;
		z-index: 2;

		span {
			color: $white;
			font-family: $inter;
			font-size: 27.65px;
			font-weight: 800;
			line-height: 1;
			position: relative;
			text-transform: uppercase;
			top: 6px;
		}
	}

	&__accordion {
		background: transparent;
		margin: 0 0 40px;
	}

	&__item {
		border-bottom: 1px solid $tundora;
		list-style-type: none;
	}

	&__heading {
		@extend %trigger-interactions;
		align-items: center;
		border: 0;
		display: flex;
		flex-flow: row nowrap;
		gap: 16px;
		justify-content: space-between;
		padding: 24px 0;

		&:link,
		&:visited,
		&:focus,
		&:hover {
			background: transparent;
			color: $black;
			text-decoration: none;
		}

		.trigger {
			font-size: 16px;
			height: 38px;
			width: 38px;
		}

		.is-active & {
			&:link,
			&:visited,
			&:focus,
			&:hover {
				color: $brand-primary;
			}
		}

		&:before {
			display: none;
		}
	}

	&__label {
		margin-bottom: 0;
	}

	&__accordion-content {
		--inset-edge: 0;
		// stylelint-disable declaration-no-important
		@extend %inset-bottom-edge;
		background: transparent;
		border: none !important;
		font-size: 16px;
		padding: 0 0 24px;
		// stylelint-enable declaration-no-important
	}

	&__contact-list {
		list-style-type: none;
		margin: 0 0 16px;
		padding: 0;
	}

	&__copy {
		color: $tundora;
		margin: 0 0 16px;
	}

	@include breakpoint(large) {
		padding: 96px 0 84px;

		&__wrapper {
			align-items: flex-start;
			display: flex;
			flex-flow: row-reverse nowrap;
			justify-content: flex-start;
		}

		&__map {
			left: 7.5vw;
			position: relative;
		}

		&__image {
			width: 60.9vw;
		}

		&__location-item {
			height: 38px;
			overflow: visible;
			transform: translate(-19px, -19px);
			width: 38px;

			&:first-child {
				height: 48px;
				width: 48px;

				.trigger {
					height: 48px;
					width: 48px;
				}
			}
		}

		&__location-link {
			.trigger {
				font-size: 16px;
				height: 38px;
				width: 38px;
			}

			.brei-icon-minus,
			.brei-icon-plus {
				display: block;
			}

			.brei-icon-peak {
				font-size: 60px;
			}
		}

		&__content {
			flex-grow: 0;
			flex-shrink: 0;
			width: 37.5%;
		}

		&__accordion {
			padding-right: 80px;
		}

		&__item {
			border-bottom: 0;
		}

		&__heading {
			display: none;
		}

		&__accordion-content {
			--inset-edge: 12px;
			background: $white;
			padding: 36px 30px 48px;
		}

		&__label {
			color: $brand-primary;
			margin-bottom: 20px;
		}

		&__contact-list {
			margin-bottom: 20px;
		}

		&__copy {
			margin-bottom: 24px;
		}
	}

	@include breakpoint(xlarge) {
		&__location-item {
			&.is-active {
				#{$this}__location-name {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&__location-name {
			display: block;
			margin-left: 19.2px;
			margin-top: -19.2px;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			visibility: hidden;
			white-space: nowrap;
			width: auto;
		}
	}

	@include breakpoint(xxxlarge) {
		&__map {
			left: 144px;
		}

		&__image {
			width: 1170px;
		}
	}
}
