.masthead {

	--inset-edge: 0;
	$this: &;
	@extend %inset-bottom-edge;
	@extend %inset-bottom-border;
	overflow: hidden;
	position: relative;
	z-index: 5;

	&__gallery {
		@extend %inset-bottom-edge;
		@extend %inset-bottom-border;
		position: relative;
		z-index: 5;
	}

	&__image,
	&__video {
		@extend %overlay;
		object-fit: cover;
		z-index: 2;
	}

	&__image {
		display: none;

		&--shown {
			display: block;
		}
	}

	&__btn {
		/* stylelint-disable declaration-no-important */
		--background: #{$black};
		--border: #{$cwu-yellow};
		--gap: #{$white};
		--text: #{$white};
		bottom: 40px;
		position: absolute;
		right: 16px;
		z-index: 15;

		.brei-icon-play {
			display: block !important;
		}

		.brei-icon-pause {
			display: none !important;
		}

		&--is-playing {
			.brei-icon-play {
				display: none !important;
			}

			.brei-icon-pause {
				display: block !important;
			}
		}
		/* stylelint-enable declaration-no-important */
	}

	&__title {
		position: relative;
		z-index: 4;

		h1 {
			color: $white;
		}

		p {
			color: $white;
			margin-top: 20px;
		}
	}

	&--aggregate {
		--inset-edge: 24px;
		align-items: flex-start;
		background-color: $tundora;
		display: flex;
		flex-flow: column;
		justify-content: center;

		&:before {
			@extend %overlay;
			background-image: url('/img/topo-map.jpg');
			background-position: 50% 50%;
			background-size: cover;
			content: '';
			display: block;
			mix-blend-mode: multiply;
			opacity: 0.3;
			z-index: 3;
		}

		&:after {
			background-color: $black;
			bottom: 0;
			content: '';
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			z-index: 10;
		}

		#{$this}__gallery {
			display: contents;
		}
	}

	&--detail {
		#{$this}__title {
			background: $black;
		}
	}

	&--landing {
		#{$this}__title {
			background: $cwu-crimson;
		}
	}

	@include breakpoint(medium down) {
		&__title {
			padding: 48px 24px 36px;
		}

		&--detail,
		&--aggregate {
			#{$this}__gallery {
				aspect-ratio: 2.3333;
			}
		}

		&--landing {
			#{$this}__gallery {
				aspect-ratio: 1.7777;
			}
		}
	}

	@include breakpoint(small down) {
		&__title {
			margin-top: -24px;
		}

		&--aggregate {
			#{$this}__title {
				margin-top: 0;
				padding: 40px 0 64px;
			}
		}
	}

	@include breakpoint(medium only) {
		&__gallery {
			--inset-edge: 56px;
		}

		&__title {
			margin-top: -56px;
			padding-top: 80px;
		}

		&__btn {
			bottom: 72px;
		}

		&--aggregate {
			--inset-edge: 56px;

			#{$this}__title {
				margin-top: 0;
				padding-top: 40px;
			}
		}
	}

	@include breakpoint(large) {
		--inset-edge: 88px;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;

		&__gallery {
			--inset-edge: 0;
			display: contents;
		}

		&__btn {
			bottom: 104px;
		}

		&__title {
			padding: 56px 36px 96px;
		}

		&--aggregate {
			justify-content: center;

			#{$this}__title {
				padding: 64px 0 108px;
			}
		}

		&--detail {
			min-height: 42.85vw;

			#{$this}__title {
				background: rgba($black, 0.8);
			}
		}

		&--landing {
			min-height: 56.25vw;
		}
	}
}
