.masthead {

	--inset-edge: 0;
	$this: &;
	@extend %inset-bottom-edge;
	@extend %inset-bottom-border;
	overflow: hidden;
	position: relative;
	z-index: 5;

	&__gallery {
		@extend %inset-bottom-edge;
		@extend %inset-bottom-border;
		position: relative;
		z-index: 5;
	}

	&__image,
	&__video {
		@extend %overlay;
		object-fit: cover;
		z-index: 2;
	}

	&__image {
		display: none;

		&--shown {
			display: block;
		}
	}

	&__btn {
		/* stylelint-disable declaration-no-important */
		--background: #{$black};
		--border: #{$cwu-yellow};
		--gap: #{$white};
		--text: #{$white};
		bottom: 40px;
		position: absolute;
		right: 16px;
		z-index: 15;

		.brei-icon-play {
			display: block !important;
		}

		.brei-icon-pause {
			display: none !important;
		}

		&--is-playing {
			.brei-icon-play {
				display: none !important;
			}

			.brei-icon-pause {
				display: block !important;
			}
		}
		/* stylelint-enable declaration-no-important */
	}

	&__title {
		position: relative;
		text-wrap: balance;
		z-index: 4;

		h1 {
			color: $white;
		}

		p {
			color: $white;
			margin-top: 20px;
		}
	}

	&__copy {
		margin-top: 40px;
		position: relative;
		z-index: 4;

		p {
			color: $white;
		}
	}

	&--aggregate {
		--inset-edge: 24px;
		align-items: flex-start;
		background-color: $tundora;
		display: flex;
		flex-flow: column;
		justify-content: center;

		&:before {
			@extend %overlay;
			background-image: url('/img/topo-map.jpg');
			background-position: 50% 50%;
			background-size: cover;
			content: '';
			display: block;
			mix-blend-mode: multiply;
			opacity: 0.2;
			z-index: 3;
		}

		&:after {
			background-color: $black;
			bottom: 0;
			content: '';
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			z-index: 10;
		}

		#{$this}__gallery {
			display: contents;
		}
	}

	&--detail {
		#{$this}__title {
			background-color: $black;
		}
	}

	&--home {
		#{$this}__gallery {
			&:before {
				@extend %overlay;
				background-image: linear-gradient(180deg, rgba($black, 0) 0%, rgba($black, 1) 100%);
				clip-path: none;
				content: '';
				display: block;
				z-index: 3;
			}
		}

		#{$this}__wrapper {
			--inset-edge: 24px;
			@extend %inset-bottom-border;
			background: $black;
			clip-path: polygon(0% -56px, 100% -56px, 100% calc(100% - var(--inset-edge)), 0% 100%);
			padding-bottom: 72px;
		}

		#{$this}__title {
			transform: translateX(-100vw);

			h1 {
				font-family: $inter;
				font-size: 44.35px;
				font-style: italic;
				font-weight: 800;
				letter-spacing: -1px;
				line-height: 1;
				line-height: 1.2;
				padding: 8px 44px 8px 0;
				position: relative;
				text-transform: uppercase;
				width: fit-content;

				&:before {
					background-color: rgba($cwu-crimson, 0.85);
					bottom: 0;
					content: '';
					display: block;
					left: -50vw;
					position: absolute;
					right: 0;
					top: 0;
					transform: skew(-12.5deg);
					transform-origin: top right;
					z-index: -1;
				}
			}
		}

		#{$this}__copy {
			transform: translateX(-100vw);

			p {
				margin-bottom: 0;
			}
		}

		&.animated {
			#{$this}__title {
				transform: none;
				transition: transform 500ms ease;
			}

			#{$this}__copy {
				transform: none;
				transition: transform 500ms ease;
				transition-delay: 250ms;
			}
		}
	}

	&--landing,
	&--library {
		#{$this}__title {
			background-color: $cwu-crimson;
		}
	}

	&--library {
		background-color: $mercury;

		#todays-hours {
			@extend %font-intro;
			color: $white;
			margin-bottom: 16px;
			margin-top: -0.25rem;

			a {
				background-color: transparent;
				background-repeat: repeat-x;
				background-size: 100% 2px;
				display: inline;
				margin: 0;
				padding: 2px 0 1px;
				position: relative;
				transition: background $transition-time ease;

				&:link,
				&:visited {
					background-image: linear-gradient(90deg, currentcolor 0%, currentcolor 100%);
					background-position: bottom center;
					color: currentcolor;
				}

				&:hover {
					background-color: $cwu-yellow;
					background-image: linear-gradient(90deg, $black 0%, $black 100%);
					color: $black;
					text-decoration: none;
				}

				&:focus-visible {
					background-color: $cwu-yellow;
					background-image: linear-gradient(90deg, $black 0%, $black 100%), linear-gradient(90deg, $black 0%, $black 100%);
					background-position: bottom center, top center;
					color: $black;
					outline: none;
				}
			}

			.hours {
				font-weight: 700;
			}
		}
	}

	@include breakpoint(medium down) {
		&__title {
			padding: 48px 24px 36px;
		}

		&--detail,
		&--aggregate,
		&--library {
			#{$this}__gallery {
				// aspect-ratio: 2.3333;
				padding-bottom: 42.85%;
			}
		}

		&--landing {
			#{$this}__gallery {
				// aspect-ratio: 1.7777;
				padding-bottom: 56.25%;
			}
		}

		&--home {
			#{$this}__gallery {
				clip-path: none;
				// aspect-ratio: 1.7777;
				padding-bottom: 56.25%;

				&:after {
					display: none;
				}
			}

			#{$this}__wrapper {
				position: relative;
				z-index: 20;
			}

			#{$this}__title {
				padding: 0;
			}
		}
	}

	@include breakpoint(small down) {
		&__title {
			margin-top: -24px;
		}

		&--aggregate {
			#{$this}__title {
				margin-top: 0;
				padding: 40px 0 64px;
			}
		}
	}

	@include breakpoint(medium only) {
		&__gallery {
			--inset-edge: 56px;
		}

		&__title {
			margin-top: -56px;
			padding-top: 80px;
		}

		&__btn {
			bottom: 72px;
		}

		&--aggregate {
			--inset-edge: 56px;

			#{$this}__title {
				margin-top: 0;
				padding: 40px 0 64px;
			}
		}
	}

	@include breakpoint(large) {
		--inset-edge: 88px;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;

		&__gallery {
			--inset-edge: 0;
			display: contents;
		}

		&__btn {
			bottom: 104px;
		}

		&__title {
			padding: 56px 36px 96px;
		}

		&--aggregate {
			justify-content: center;

			#{$this}__title {
				padding: 64px 0 108px;
			}
		}

		&--detail {
			height: clamp(438px, 42.85vw, 822px);

			#{$this}__title {
				background: rgba($black, 0.8);
			}
		}

		&--home {
			height: clamp(576px, 56.25vw, 1080px);

			#{$this}__wrapper {
				clip-path: none;
				padding-bottom: 120px;
			}

			#{$this}__title {
				padding: 0;

				h1 {
					font-size: 86.56px;
				}

				br {
					display: none;
				}
			}
		}

		&--landing {
			height: clamp(576px, 56.25vw, 1080px);
		}

		&--library {
			height: clamp(438px, 42.85vw, 822px);

			#{$this}__title {
				padding: 56px 5% 96px;
			}

			+ section {
				margin-top: -88px;
				padding-top: 184px;
			}
		}
	}

	@include breakpoint(xlarge) {
		&--library {
			#{$this}__title {
				padding: 56px 10% 96px;
			}
		}
	}
}
