.stats {
	$this: &;

	&__list {
		align-items: flex-start;
		display: flex;
		flex-flow: column;
		gap: 40px;
		justify-content: flex-start;
		margin-top: 40px;
	}

	&__info {
		display: inline-block;
		margin: 0;

		span {
			position: relative;
		}
	}

	&__headline {
		margin-top: 20px;
	}

	&__description {
		color: $tundora;
		font-size: 16px;
		line-height: 1.5;
		margin-top: 20px;
	}

	.btn--cta {
		margin-top: 18px;
	}

	&__card--digits {
		#{$this}__info {
			// background: $cwu-crimson;
			// clip-path: polygon(0% 0%, 100% 0%, calc(100% - 12px) 100%, 0% 100%);
			color: $white;
			font-family: $inter;
			font-size: 76.29px;
			font-weight: 800;
			line-height: 0.9;
			overflow: hidden;
			padding: 0 36px 0 12px;
			position: relative;

			span {
				top: 5px;
			}

			&:after {
				@extend %overlay;
				background: $cwu-crimson;
				content: '';
				transform: skewX(-12.5deg);
				transform-origin: top right;
				z-index: -1;
			}
		}
	}

	&__card--words {
		#{$this}__info {
			color: $cwu-crimson;
			font-family: $inter;
			font-size: 33.18px;
			font-weight: 700;
			line-height: 1;
			margin-bottom: 0;
			min-height: 68.86px;
		}
	}

	&__card--standalone {
		#{$this}__info {
			color: $cwu-crimson;
			font-family: $inter;
			font-size: 76.29px;
			font-weight: 800;
			line-height: 0.9;
			padding: 0;

			span {
				top: 5px;
			}
		}
	}

	&--home {
		#{$this}__heading {
			color: $white;
			position: relative;
			text-transform: uppercase;
			padding: 8px 24px;
			font-style: italic;
			font-weight: 700;
			text-align: center;

			&:after {
				@extend %overlay;
				left: 16px;
				right: 16px;
				width: auto;
				background-color: $black;
				content: '';
				transform: skewX(-12.5deg);
				transform-origin: center center;
				z-index: -1;
			}			
		}

		#{$this}__list {
			flex-flow: row wrap;
			gap: 0;
			margin-top: 32px;
		}

		#{$this}__card {
			text-align: center;
			width: 100%;

			&--standalone {
				padding: 8px;
				
				#{$this}__info {
					font-size: 61.33px;
				}

				#{$this}__headline {
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
	}

	@include breakpoint(small) {
		&--home {
			#{$this}__card {
				width: 50%;
			}
		}
	}
		

	@include breakpoint(medium) {
		&__list {
			flex-flow: row wrap;
			gap: 0;
		}

		&__card {
			padding-right: 12.5%;
			width: 50%;
		}
	}

	@include breakpoint(medium only) {
		&__card {
			&:nth-child(n+3) {
				margin-top: 64px;
			}
		}
	}

	@include breakpoint(large) {
		&__list {
			margin-top: 56px;
		}

		&__card {
			padding-right: 32px;
		}

		&--narrow {
			#{$this}__card {
				&:nth-child(n+3) {
					margin-top: 64px;
				}
			}
		}

		&--wide {
			#{$this}__card {
				width: 33.3333%;

				&:nth-child(n+4) {
					margin-top: 64px;
				}
			}
		}

		&--home {
			#{$this}__heading {
				width: fit-content;
				margin-left: auto;
				margin-right: auto;
				padding: 8px 32px;
			}
			
			#{$this}__list {
				margin-top: 32px;
			}
			
			#{$this}__card {
				width: 25%;

				&:nth-child(n+5) {
					margin-top: 64px;
				}

				&--standalone {
					padding: 16px;
				}
			}
		}
	}

	@include breakpoint(xlarge) {
		&__card--digits,
		&__card--standalone {
			#{$this}__info {
				font-size: 99.07px;

				span {
					top: 8px;
				}
			}
		}

		&__card--words {
			#{$this}__info {
				font-size: 39.91px;
				min-height: 89.16px;
			}
		}

		&--home {
			#{$this}__card {
				width: 25%;

				&--standalone {
					#{$this}__info {
						font-size: 99.07px;
					}
				}
			}
		}
	}

	@include breakpoint(xxlarge) {
		&__card {
			padding-right: 6.25%;
		}

		&--home {
			#{$this}__list {
				justify-content: space-between;
			}
			
			#{$this}__card {
				width: 22.5%;
			}
		}
	}

	@include breakpoint(xxxlarge) {
		&__card {
			padding-right: 12.5%;
		}

		&--home {
			#{$this}__card {
				width: 20%;
			}
		}
	}
}
