.menu {
	$this: &;
	align-items: center;
	display: inline-block;
	flex-flow: row nowrap;
	font-family: $inter;
	font-size: 16px;
	font-weight: 700;
	justify-content: flex-start;
	letter-spacing: 1px;
	line-height: 1.6;
	position: relative;
	z-index: 1;

	&__icon {
		flex-shrink: 0;
		margin-left: 16px;
		opacity: 0;
		position: relative;
		top: 2px;
		transition: opacity $transition-time ease;
	}

	.text {
		background-image: linear-gradient(90deg, currentcolor 0%, currentcolor 100%);
		background-position: bottom left;
		background-repeat: no-repeat;
		background-size: 0% 3px;
		line-height: 1.6;
		padding: 5px 0 4px;
		position: relative;
		top: 1px;
		transition: background-size $transition-time ease;
	}

	&:before,
	&:after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		z-index: -1;
	}

	&:link,
	&:visited {
		color: currentcolor;
	}

	&:hover,
	&:active {
		color: currentcolor;

		.text {
			background-size: 100% 3px;
		}

		&:after {
			transition: right $transition-time ease;
		}
	}

	&:focus-visible {
		// stylelint-disable declaration-no-important
		background: $brand-secondary;
		outline: 0;

		.text {
			background-size: 0% 3px;
			color: $black;
		}

		&:before,
		&:after {
			background-color: currentcolor !important;
			background-image: none;
			height: 4px !important;
			left: 0 !important;
			opacity: 1;
			right: 0 !important;
		}

		&:before {
			top: -8px;
		}

		&:after {
			bottom: -8px !important;
		}
		// stylelint-enable declaration-no-important
	}

	&--primary {
		padding: 0 20px;
		text-transform: uppercase;

		&:before {
			background-image: linear-gradient(90deg, $brand-secondary 50%, transparent 50%);
			background-position: right center;
			background-size: 205% 100%;
			bottom: -17px;
			left: -20px;
			right: -20px;
			top: -18px;
			transition: background-position $transition-time ease;
		}

		&:hover {
			&:before {
				background-position: left center;
				opacity: 1;
			}
		}
	}

	&--secondary {
		padding: 8px 0 3px;

		.text {
			display: block;
			padding: 5px 27px 4px;
		}

		#{$this}__icon {
			margin-top: 4px;
			position: absolute;
			right: 8px;
			top: 50%;
			transform: translateY(-50%);
		}

		&:hover,
		&:active,
		&:focus-visible {
			.text {
				background-size: 0;
			}

			#{$this}__icon {
				opacity: 1;
			}
		}
	}

	&--tertiary {
		padding: 0 3px;

		&:hover,
		&:active {
			&:after {
				left: 4px;
				right: 4px;
			}
		}
	}

	&--audience {
		font-weight: 400;
		letter-spacing: 0;
		margin-left: -8px;
		padding: 0 8px;

		.text {
			background-size: 0% 2px;
		}

		&:hover,
		&:active {
			.text {
				background-size: 100% 2px;
			}

			&:after {
				bottom: -2px;
				height: 2px;
				left: 8px;
				right: 8px;
			}
		}

		&:focus-visible {
			.text {
				background-size: 0% 2px;
			}
		}
	}
}
