.spacing {
	display: inline-block;
	line-height: 1;
	margin: 0;
	vertical-align: middle;

	&--0 {
		height: 4px;
		width: 4px;
	}

	@for $i from 1 through 20 {
		&--#{$i} {
			height: $i * 8px;
			width: $i * 8px;
		}
	}
}
