<a href="{{url}}" class="menu {{ modifiers }}{{#if icon}} menu--with-icon{{/if}}"{{#if disabled}} tabindex="-1" {{/if}}>
	<span class="text">{{{copy}}}</span>
	{{#if icon}}<span class="menu__icon">{{svg icon }}</span>{{/if}}
</a>
