<main id="main" class="highlevel">

	{{#if masthead}}
		{{render (concat '@' masthead) }}
	{{/if}}

	<div class="highlevel__content">
		<div class="highlevel__wrapper">
			<div class="highlevel__intro">

				{{#if title}}
					<h1 class="page-title">{{{title}}}</h1>
				{{/if}}

			</div>
		</div>

		{{#each main}}
			{{render (concat '@' this.name) this.context merge=true}}
		{{/each}}

	</div>

</main>
