<main id="main" class="level googlecse">

	{{#if masthead}}
		{{render (concat '@' masthead) }}
	{{/if}}

	<div class="row level__row">
		<div class="level__content large-8 large-push-2 columns">

			{{#if title}}
				<h1 class="page-title">{{{title}}}</h1>
			{{/if}}

			{{#each main}}
				{{render (concat '@' this.name) this.context merge=true}}
			{{/each}}

			<!-- Google CSE -->

		</div>
	</div>

</main>
