// Use this file to store common values like
// font size, z index, etc.

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lora:ital,wght@0,400;1,400;1,500;1,600&display=swap');
$inter: 'Inter', sans-serif;
$lora: 'Lora', serif;
$body-font-family: 'Inter', sans-serif;

// Colors
$black: #000000;
$white: #ffffff;

// Brand Colors
$cwu-crimson-bright: #cc1540;
$cwu-crimson-dark: #b80025;
$cwu-crimson: #a30f32;
$cwu-gray: #bfbfbf;
$cwu-yellow-light: #ffe98f;
$cwu-yellow: #ffd632;

// Accent Colors
$ellensburg-blue-jeans: #4c879e;
$flickr-pink: #ee3787;
$orange-red: #f36e2a;
$sunglow: #fecb08;
$tufts-blue: #4992ce;
$viva-magenta: #da234e;
$yellow-green: #a5cf4c;

// Grays & Neutrals
$manastash-tan: #f1e5c3;
$mercury: #e6e6e6;
$monsoon: #8b868a;
$tundora: #414141;

// Theme Colors
$bilbao: #12841f;
$dove-gray: #696969;
$guardsman: #c40000;
$wild-sand: #f6f6f6;

// System Colors
$sail: #a2cdee;

// Grays
$gray-10: #f4f4f4;
$gray-20: #e0e0e0;
$gray-30: #c6c6c6;
$gray-40: #a8a8a8;
$gray-50: #8d8d8d;
$gray-60: #6f6f6f;
$gray-70: #525252;
$gray-80: #393939;
$gray-90: #262626;
$gray-100: #161616;

// Global Variables
$transition-time: 0.25s; // Common transition time for hover states, etc.
$placeholder-color: $black;
$selection-color: $sail;
$primary-nav-breakpoint: large;
$below-primary-nav-breakpoint: medium down;

// Spacing
$mobile-component-spacing: 48px;
$mobile-sidebar-component-spacing: 48px;
$desktop-component-spacing: 72px;
$desktop-sidebar-component-spacing: 32px;

// Foundation overrides from standards
$global-width: 1712px; // 1920 viewport with 5% padding on either side
$breakpoints: (
	xsmall: 0,
	small: 400px,
	medium: 768px,
	large: 1024px,
	xlarge: 1280px,
	xxlarge: 1440px,
	xxxlarge: 1920px
);
$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
	xsmall: 16px,
	medium: 16px,
);
$grid-margin-gutters: (
	xsmall: 16px,
	medium: 16px
);
$header-styles: (
	xsmall: (
		'h1': ('font-size': 39.81),
		'h2': ('font-size': 33.18),
		'h3': ('font-size': 27.65),
		'h4': ('font-size': 23.04),
		'h5': ('font-size': 19.2),
		'h6': ('font-size': 16),
	),
	large: (
		'h1': ('font-size': 47.48),
		'h2': ('font-size': 39.81),
		'h3': ('font-size': 33.18),
		'h4': ('font-size': 27.65),
		'h5': ('font-size': 23.04),
		'h6': ('font-size': 19.2),
	),
);
$breakpoint-classes: (xsmall small medium large xlarge xxlarge xxxlarge);
