<nav id="footer-navigation-{{ id }}" class="nav-footer">

	<ul class="nav-footer__list">
		{{#each items}}
		<li class="nav-footer__item">{{render '@menu--tertiary' this }}</li>
		{{/each}}
	</ul>

</nav>