<nav id="cta-navigation" class="nav-cta">

	<ul class="nav-cta__list">
		{{#each items}}
		<li class="nav-cta__item">
			<a href="{{{ url }}}">
			   <span>{{{ copy }}}</span>
			</a>
		</li>
		{{/each}}
	</ul>

</nav>