<div class="search-mobile">
	<div class="wrapper">

		<form id="search-form--mobile" class="form__field form__field--is-search" method="get" action="">
			<label class="show-for-sr" for="q-mobile">What're you looking for?</label>		
			<input name="query" id="q-mobile" name="search" type="search" aria-label="Search" placeholder="What're you looking for?">
			<button type="submit" class="search-button">
				<span class="show-for-sr">Search</span>
				{{svg 'search' }}
			</button>
		</form>

	</div>
</div>