<div class="access-nav" role="navigation" aria-label="Access Navigation">
	<a class="show-on-focus" href="#global-header">Jump to Header</a>
	<a class="show-on-focus" href="#main">Jump to Main Content</a>
	<a class="show-on-focus" href="#global-footer">Jump to Footer</a>
</div>
