<section class="feed {{ style }} component">

	<h2 class="feed__heading font-h2">{{{ heading }}}</h2>

	<div class="feed__list">

		{{#each items}}{{render '@card-program' this merge="true" }}{{/each}}

	</div>

	{{render '@button--primary' }}

</section>