// Placeholders are extendable blocks of styles
// that can be used via @extend, with the
// behavior that there won't be a large
// mass of classes created in your final CSS
// document.
//
// Use placeholders if you do not need a
// generic root class to inherit styles from, and
// just need a grouping of styles to share.

%list-reset {
	margin: 0;
	padding: 0;

	&,
	li {
		list-style: none;
	}
}

%inline-list {
	@extend %list-reset;

	li {
		display: inline-block;
	}
}

%overlay {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

// Angled bottom, and angled bottom with border (do not use second separately)

%inset-bottom-edge {
	--inset-edge: 24px;
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--inset-edge)), 0% 100%);
}

%inset-bottom-image {
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--inset-edge) - 2px), 0% calc(100% - 2px));
}

%inset-bottom-border {
	--inset-color: #{$cwu-crimson};

	&:after {
		background-color: var(--inset-color);
		bottom: -1px;
		clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% calc(100% - 6px));
		content: '';
		display: block;
		height: calc(var(--inset-edge) + 7px);
		left: 0;
		position: absolute;
		right: 0;
		transition: background-color $transition-time ease;
		z-index: 10;
	}
}

// Angled top

%inset-top-edge {
	--inset-edge: 24px;
	clip-path: polygon(0% var(--inset-edge), 100% 0%, 100% 100%, 0% 100%);
}

// Edge-to-edge overlay at small screens
%small-edge {
	@include breakpoint(medium down) {
		margin-left: -16px;
		width: 100vw;
	}
}

// Maintains 1:1 image proportions. Works best when direct child uses %overlay.
%square-scale {
	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
}

// Tooltip text
%tooltip-text {
	color: $black;
	display: block;
	font-family: $inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.44;
}
