<section class="standalone {{ style }} component">
	<div class="standalone__Wrapper wrapper">

		 {{#if gallery}}{{render '@gallery' gallery }}{{/if}}
		 {{#if video}}{{ render '@video' video }}{{/if}}

	</div>
</section>