<section class="wysiwyg {{ style }} component">
	<div class="wysiwyg__inner wrapper grid-x grid-margin-x">

		<div class="cell xsmall-12 large-10 large-ofset-1 xlarge-8 xlarge-offset-2 user-markup">

		 {{{ copy }}}

	</div>
</section>