<section class="intro component">

    <div class="intro__inner wrapper grid-x grid-margin-x">

        <div class="intro__copy cell xsmall-12 medium-10 medium-offset-1 large-8 large-offset-2">{{{ copy }}}</div>

    </div>

</section>