.brei-icon {
	display: inline-block;
	fill: currentcolor;
	height: 1em;
	pointer-events: none;
	stroke: currentcolor;
	stroke-width: 0;
	width: 1em;
}
/* ==========================================
Single-colored icons can be modified like so:
.brei-icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.brei-icon-logo {
	width: 3.2509765625em;
}

.brei-icon-logo-signature {
	width: 5.1572265625em;
}

.brei-icon-facebook {
	width: 0.51953125em;
}

.brei-icon-linkedin {
	width: 0.9599609375em;
}

.brei-icon-twitter {
	width: 1.25em;
}

.brei-icon-youtube {
	width: 1.400390625em;
}

.brei-icon-arrow {
	width: 1.16015625em;
}

.brei-icon-check {
	width: 1.3154296875em;
}

.brei-icon-chevron {
	width: 0.5244140625em;
}

.brei-icon-home {
	width: 1.181640625em;
}

.brei-icon-menu {
	width: 1.25em;
}

.brei-icon-pause {
	width: 0.79296875em;
}

.brei-icon-play {
	width: 0.6484375em;
}

.brei-icon-quote {
	width: 1.0380859375em;
}

.brei-icon-tooltip {
	width: 0.689453125em;
}

.brei-icon-warning {
	width: 0.16015625em;
}
