

<section class="accordions accordions--wide component">

	<div class="accordions__wrapper wrapper">

		<h2 class="accordions__title font-h2">Accordion H2 Headline Lorem Ipsum Dolor</h2>
	
		<hr />
						
		<p class="accordions__copy font-body">Structured body copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim.</p>

		<ul class="accordions__accordion accordion" data-accordion data-deep-link="true" data-multi-expand="true" data-allow-all-closed="true">
	
			<li class="accordions__item accordion-item" data-accordion-item>
		
				<a href="#accordion0" class="accordions__heading accordion-title">
					<span class="accordions__label font-h4">Accordion Label H4 Headline Lorem Ipsum Dolor</span>
					<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
				</a>

				<div class="accordions__content accordion-content" data-tab-content id="accordion0">
					<div class="user-markup">
						<p>WYSIWYG body copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi lacus sed viverra tellus in hac habitasse platea dictumst. Morbi tempus iaculis urna id volutpat lacus laoreet. Nec ullamcorper sit amet risus nullam eget.</p><ul><li>Unordered List</li></ul><ol><li>Ordered List</li></ol>
						<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">Primary Button</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>
					</div>
				</div>

			</li>
			<li class="accordions__item accordion-item" data-accordion-item>
		
				<a href="#accordion1" class="accordions__heading accordion-title">
					<span class="accordions__label font-h4">Accordion Label H4 Headline Lorem Ipsum Dolor</span>
					<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
				</a>

				<div class="accordions__content accordion-content" data-tab-content id="accordion1">
					<div class="user-markup">
						<p>WYSIWYG body copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">Primary Button</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>
					</div>
				</div>

			</li>
			<li class="accordions__item accordion-item" data-accordion-item>
		
				<a href="#accordion2" class="accordions__heading accordion-title">
					<span class="accordions__label font-h4">Accordion Label H4 Headline Lorem Ipsum Dolor</span>
					<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
				</a>

				<div class="accordions__content accordion-content" data-tab-content id="accordion2">
					<div class="user-markup">
						<p>WYSIWYG body copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">Primary Button</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>
					</div>
				</div>

			</li>
		
		</ul>

	</div>

</section>


