

<section class="aside component">

	<h2 class="aside__title font-h4">Aside Headline</h2>
	<hr />

	<div class="aside__set">

		<ul class="aside__accordion accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

			<li class="aside__item accordion-item" data-accordion-item>

				<a href="#accordion0" class="aside__heading accordion-title">
					<span class="aside__label">Category Headline 1</span>
					<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
				</a>

				<div class="aside__content accordion-content" data-tab-content id="accordion0">
				
					<ul class="aside__list">
						<li class="aside__list-item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Page Link Lorem Ipsum</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li><li class="aside__list-item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Page Link Lorem Ipsum</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li><li class="aside__list-item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Page Link Lorem Ipsum on Two Lines</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li>
					</ul>
				</div>

			</li>
			<li class="aside__item accordion-item" data-accordion-item>

				<a href="#accordion1" class="aside__heading accordion-title">
					<span class="aside__label">Category Headline 2</span>
					<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
				</a>

				<div class="aside__content accordion-content" data-tab-content id="accordion1">
				
					<ul class="aside__list">
						<li class="aside__list-item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Page Link Lorem Ipsum</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li><li class="aside__list-item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Page Link Lorem Ipsum</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li><li class="aside__list-item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Page Link Lorem Ipsum on Two Lines</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li>
					</ul>
				</div>

			</li>

		</ul>

	</div>

</section>
