

<nav id="breadcrumbs" class="breadcrumbs" aria-label="Breadcrumbs">
	<ul class="breadcrumbs__list wrapper">
		<li class="breadcrumbs__item breadcrumbs__item--home">
			<a href="/" title="Home">
				
			<svg class="brei-icon brei-icon-home" focusable="false">
				<use xlink:href="#brei-icon-home"></use>
			</svg>
		
				<span class="show-for-sr">Home</span>
			</a>
			
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		
		</li>

		<li class="breadcrumbs__item">
			<a href="#grandparent" class="breadcrumbs__link">Grandparent Page</a>
			
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		
		</li>
		<li class="breadcrumbs__item">
			<a href="#parent" class="breadcrumbs__link">Parent Page</a>
			
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		
		</li>
		<li class="breadcrumbs__item breadcrumbs__item--current">
			<span class="breadcrumbs__span">Current Page</span>
		</li>
	</ul>
</nav>

