

<section class="callout component">

	<h2 class="callout__title font-h4">Rail Callout Headline</h2>
	<hr />
	
	<ul class="callout__list">
		<li class="callout__item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Rail Call To Action</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li>
		<li class="callout__item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Rail Call To Action</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li>
		<li class="callout__item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Rail Call To Action</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li>
		<li class="callout__item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Rail Call To Action</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li>
		<li class="callout__item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Rail Call To Action</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li>
	</ul>

</section>
