

<div class="card card--news" itemscope itemtype="https://schema.org/NewsArticle">

	<figure class="card__figure">
		<img src="https://picsum.photos/836/628" alt="[photo alt text]" class="card__image" width="836" height="628" />
	</figure>

	<div class="card__content">
	 
		<h3 class="card__heading font-h4" itemprop="name">News Item H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur</h3>
		 
		<p class="card__info"><span itemprop="dateline">August 30, 2023</span></p>
		<p class="card__info">by <span itemprop="author">Firstname Lastname</span></p>
		 
		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>
		 
	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Read more about 'News Item H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur'</span></a>

</div>
