

<div class="card card--faculty">

	<figure class="card__figure">
		<img src="https://via.placeholder.com/500" alt="[photo alt text]" class="card__image" width="500" height="500" />
	</figure>

	<div class="card__content">
	 
		<h3 class="card__heading font-h3">Faculty Name H3 Headline Lorem</h3>

		<p class="card__subheading font-subhead">Optional Faculty Title, Pronouns Lorem Ipsum Dolor Sit Amet</p>

		<ul class="card__contact-list">
			<li class="card__contact-item"><a href="mailto:email@cwu.edu">email@cwu.edu</a></li><li class="card__contact-item"><a href="tel:000-000-0000">000-000-0000</a></li>
		</ul>

		<p class="card__info">Address Line One Lorem Ipsum<br />Address Line Two Lorem Ipsum<br />Address Line Three Lorem Ipsum</p>
		 
		<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
		 
	</div>

</div>
