

<div class="card card--event" itemscope itemtype="https://schema.org/Event">
	
	<p class="card__date font-h4"><span itemprop="startDate" content="2023-00-00T12:00:00-06:00">Month 00</span></p>

	<div class="card__content">
	
		<h3 class="card__heading font-h4" itemprop="name">Event Item H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur</h3>	

		<p class="card__info">00:00AM - 00:00PM</p>
		<p class="card__info" itemscope itemtype="https://schema.org/Place"><span itemprop="name">Location Lorem Ipsum</span></p>

		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>

	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Learn  more about 'Event Item H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur'</span></a>

</div>
