

<section class="cpg ">

	<div class="cpg__wrapper wrapper">

		<h2 class="cpg__title font-h2">Child Page Grid H2 Grid Max 35 Char Lorem</h2>

		<hr />

		<p class="cpg__copy font-big">Structured copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

		<div class="cpg__list grid-x grid-margin-x">

			<div class="cpg__item cell xsmall-12 medium-6 large-4">
			

				<div class="cpg__content">

					<h3 class="cpg__heading font-h4">Child Page H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur</h3>

					<p class="cpg__description">Structured content body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

					<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>

				</div>
				
				<a href="#TBD" class="cpg__link"><span class="show-for-sr">Tertiary Button</span></a>
				
			</div>
			<div class="cpg__item cell xsmall-12 medium-6 large-4">
			

				<div class="cpg__content">

					<h3 class="cpg__heading font-h4">Child Page H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur</h3>

					<p class="cpg__description">Structured content body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

					<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>

				</div>
				
				<a href="#TBD" class="cpg__link"><span class="show-for-sr">Tertiary Button</span></a>
				
			</div>
			<div class="cpg__item cell xsmall-12 medium-6 large-4">
			

				<div class="cpg__content">

					<h3 class="cpg__heading font-h4">Child Page H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur</h3>

					<p class="cpg__description">Structured content body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

					<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>

				</div>
				
				<a href="#TBD" class="cpg__link"><span class="show-for-sr">Tertiary Button</span></a>
				
			</div>
			<div class="cpg__item cell xsmall-12 medium-6 large-4">
			

				<div class="cpg__content">

					<h3 class="cpg__heading font-h4">Child Page H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur</h3>

					<p class="cpg__description">Structured content body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

					<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>

				</div>
				
				<a href="#TBD" class="cpg__link"><span class="show-for-sr">Tertiary Button</span></a>
				
			</div>
			<div class="cpg__item cell xsmall-12 medium-6 large-4">
			

				<div class="cpg__content">

					<h3 class="cpg__heading font-h4">Child Page H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur</h3>

					<p class="cpg__description">Structured content body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

					<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>

				</div>
				
				<a href="#TBD" class="cpg__link"><span class="show-for-sr">Tertiary Button</span></a>
				
			</div>
			<div class="cpg__item cell xsmall-12 medium-6 large-4">
			

				<div class="cpg__content">

					<h3 class="cpg__heading font-h4">Child Page H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur</h3>

					<p class="cpg__description">Structured content body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

					<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>

				</div>
				
				<a href="#TBD" class="cpg__link"><span class="show-for-sr">Tertiary Button</span></a>
				
			</div>
			<div class="cpg__item cell xsmall-12 medium-6 large-4">
			

				<div class="cpg__content">

					<h3 class="cpg__heading font-h4">Child Page H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur</h3>

					<p class="cpg__description">Structured content body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

					<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>

				</div>
				
				<a href="#TBD" class="cpg__link"><span class="show-for-sr">Tertiary Button</span></a>
				
			</div>
			<div class="cpg__item cell xsmall-12 medium-6 large-4">
			

				<div class="cpg__content">

					<h3 class="cpg__heading font-h4">Child Page H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur</h3>

					<p class="cpg__description">Structured content body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

					<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>

				</div>
				
				<a href="#TBD" class="cpg__link"><span class="show-for-sr">Tertiary Button</span></a>
				
			</div>

		</div>

		<div class="cpg__button">
			<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">Primary Button</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>
		</div>

	</div>

</section>
