

	<div class="w-1/2 grid gap-3 grid-cols-1">
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #ab0032"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$brand-primary</strong></p>
					<p><em>#ab0032</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #cc1540"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$crimson</strong></p>
					<p><em>#cc1540</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #ffd632"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$brand-secondary</strong></p>
					<p><em>#ffd632</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #000000"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$black</strong></p>
					<p><em>#000000</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #414141"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$tundora</strong></p>
					<p><em>#414141</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #696969"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$dove-gray</strong></p>
					<p><em>#696969</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #ebebeb"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$gallery</strong></p>
					<p><em>#ebebeb</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #f6f6f6"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$wild-sand</strong></p>
					<p><em>#f6f6f6</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #12841f"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$bilbao</strong></p>
					<p><em>#12841f</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #c40000"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$guardsman</strong></p>
					<p><em>#c40000</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #a30f32"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$cwu-crimson</strong></p>
					<p><em>#a30f32</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #b80025"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$cwu-dark-crimson</strong></p>
					<p><em>#b80025</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #da234e"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$viva-magenta</strong></p>
					<p><em>#da234e</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #ffd632"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$wildflower-yellow</strong></p>
					<p><em>#ffd632</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #f1e5c3"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$manatash-tan</strong></p>
					<p><em>#f1e5c3</em></p>
				</span>
			</div>
			<div class="overflow-hidden rounded bg-gray-100 border-solid border-1 border-gray-400 flex">
				<span class="w-1/3" style="background-color: #4c879e"></span>
				<span class="w-full px-4 py-2">
					<p><strong>$ellensburg-blue-jeans</strong></p>
					<p><em>#4c879e</em></p>
				</span>
			</div>
	</div>

