

<section class="contact component">

	<div class="contact__wrapper wrapper">

		<div class="contact__inner grid-x grid-margin-x">

			<div class="contact__intro cell xsmall-12 large-4 large-offset-1">

				<h2 class="contact__title font-h2">Contact Headline</h2>

				<hr />

			</div>

			<div class="contact__content cell xsmall-12 large-5 large-offset-1">

				<h3 class="contact__heading">Name or Office Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing elit Sed Do</h3>

				<p class="contact__address">Address Line One Lorem Ipsum<br />Address Line Two Lorem Ipsum<br />Address Line Three Lorem Ipsum</p>

				<ul class="contact__list">
					<li class="contact__item"><a href="mailto:email@cwu.edu" class="menu menu--tertiary">
	<span class="text">email@cwu.edu</span>
	
</a>
</li>
					<li class="contact__item"><a href="tel:0000000000" class="menu menu--tertiary">
	<span class="text">000-000-0000</span>
	
</a>
</li>
				</ul>

				<div class="contact__optional">Optional Office Fields to Include Information Such as Pronouns, Name Pronunciation, Office Hours Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit Sed Do</div>

				<ul class="social">
	<li class="social__item"><a href="#" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-facebook" focusable="false">
				<use xlink:href="#brei-icon-facebook"></use>
			</svg>
		</span>	
</a></li>
	<li class="social__item"><a href="#" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-twitter" focusable="false">
				<use xlink:href="#brei-icon-twitter"></use>
			</svg>
		</span>	
</a></li>
	<li class="social__item"><a href="#" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-instagram" focusable="false">
				<use xlink:href="#brei-icon-instagram"></use>
			</svg>
		</span>	
</a></li>
	<li class="social__item"><a href="#" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-linkedin" focusable="false">
				<use xlink:href="#brei-icon-linkedin"></use>
			</svg>
		</span>	
</a></li>
	<li class="social__item"><a href="#" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-youtube" focusable="false">
				<use xlink:href="#brei-icon-youtube"></use>
			</svg>
		</span>	
</a></li>
</ul>


			</div>
			
		</div>
		
	</div>
	
</section>
