

		<div class="form__field">
			<select id="select-box" name="select-box" required="required">
					<option></option>
					<option value="2">Option 2</option>
					<option value="3">Option 3</option>
					<option value="4">Option 4</option>
					<option value="5">Option 5</option>
					<option value="6">Option 6</option>
					<option value="7">Option 7</option>
					<option value="8">Option 8</option>
			</select>
			<label for="select-box">Select Box</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
		</div>
		<div class="form__field">
			<select id="select-box2" name="select-box2">
					<option value="1">Enabled</option>
					<option value="2">Option 2</option>
					<option value="3">Option 3</option>
					<option value="4">Option 4</option>
					<option value="5">Option 5</option>
					<option value="6">Option 6</option>
					<option value="7">Option 7</option>
					<option value="8">Option 8</option>
			</select>
			<label for="select-box2">Select Box</label>
		</div>

