

<div class="emergency">
	<div class="emergency__wrapper wrapper">
		<div class="emergency__accordion accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

			<div class="emergency__item accordion-item" data-accordion-item>

				<a href="#emergency" class="emergency__heading accordion-title">
					<span class="emergency__icon" aria-hidden="true">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use href="#brei-icon-warning"></use>
			</svg>
		</span>	
					<span class="emergency__label font-h5">Emergency Alert H5 Headline Lorem Ipsum Dolor</span>
					<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
</span>
				</a>

				<div class="emergency__content accordion-content" data-tab-content id="emergency">
					<div class="user-markup">
						<h2 class="font-h3">H3 Headline Lorem Ipsum Dolor Sit Amet</h3><p>WYSIWYG body copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <a href='#'>eiusmod tempor</a> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">Primary Button</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
<script>
	let emergencyModTime = 1641489635871;
</script>
