

<section class="feed feed--home feed--events animateOnce">

	<div class="feed__wrapper wrapper">

		<div class="feed__title">

			<h2 class="feed__heading font-h1">CWU Upcoming Events</h2>

			<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">View All Events</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>
		
		</div>

		<div class="feed__list">

			<div class="card card--event" itemscope itemtype="https://schema.org/Event">
	
	<p class="card__date font-h4"><span itemprop="startDate" content="2023-03-06T02:30:00-07:00">March 06</span></p>

	<div class="card__content">
	
		<h3 class="card__heading font-h4" itemprop="name">Monday Movie Madness: I Wanna Dance With Somebody</h3>	

		<p class="card__info">07:30PM - 10:00PM</p>
		<p class="card__info" itemprop="location" itemscope itemtype="https://schema.org/Place"><span itemprop="name">Student Union and Recreation Center<br />Theatre Rm 210</span></p>

		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">View Event Details</span>
</p>

	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Learn  more about 'Monday Movie Madness: I Wanna Dance With Somebody'</span></a>

</div><div class="card card--event" itemscope itemtype="https://schema.org/Event">
	
	<p class="card__date font-h4"><span itemprop="startDate" content="2023-03-04T18:00:00-07:00">March 04</span></p>

	<div class="card__content">
	
		<h3 class="card__heading font-h4" itemprop="name">Softball Doubleheader Game vs Billings</h3>	

		<p class="card__info">11:00AM - 05:00PM</p>
		<p class="card__info" itemprop="location" itemscope itemtype="https://schema.org/Place"><span itemprop="name">Sports-Varsity Softball Field</span></p>

		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">View Event Details</span>
</p>

	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Learn  more about 'Softball Doubleheader Game vs Billings'</span></a>

</div><div class="card card--event" itemscope itemtype="https://schema.org/Event">
	
	<p class="card__date font-h4"><span itemprop="startDate" content="2023-03-02T24:00:00-07:00">March 02</span></p>

	<div class="card__content">
	
		<h3 class="card__heading font-h4" itemprop="name">Services & Activities Fee Committe Meeting</h3>	

		<p class="card__info">05:30PM - 07:00PM</p>
		<p class="card__info" itemprop="location" itemscope itemtype="https://schema.org/Place"><span itemprop="name">Virtual Location for Online Events</span></p>

		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">View Event Details</span>
</p>

	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Learn  more about 'Services & Activities Fee Committe Meeting'</span></a>

</div>

		</div>

		<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">View All Events</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>

	</div>
</section>
