

<section class="explore-programs component animateOnce">
	<div class="explore-programs__wrapper">
		<div class="grid-x grid-margin-x">
		
			<div class="explore-programs__content cell xsmall-12 large-5">

				<h2 class="explore-programs__heading font-h1">Forward-Thinking Programs</h2>
				<hr />

				<p class="explore-programs__copy font-big">Prepare for the careers of today and tomorrow. Chart your own course with more than 135 accredited college majors and 32 accredited master's degree programs.</p>

				<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">Explore Programs</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>

			</div>

			<div class="explore-programs__grid cell xsmall-12 large-6 large-offset-1 animateOnce">

				<div class="explore-programs__cell explore-programs__cell--photo">

					<figure class="explore-programs__figure">
						<img src="https://picsum.photos/465/407" alt="[photo alt text]" class="explore-programs__image" width="465" height="407" />
					</figure>

					

				</div>
				<div class="explore-programs__cell explore-programs__cell--photo explore-programs__cell--tall">

					<figure class="explore-programs__figure">
						<img src="https://picsum.photos/465/703" alt="[photo alt text]" class="explore-programs__image" width="465" height="753" />
					</figure>

					

				</div>
				<div class="explore-programs__cell explore-programs__cell--stat">

					<figure class="explore-programs__figure">
						<img src="https://picsum.photos/465/407" alt="[photo alt text]" class="explore-programs__image" width="465" height="407" />
					</figure>

					<p class="explore-programs__stat"><strong>135</strong><br />accredited<br />college majors</p>

				</div>

			</div>
			
		</div>
	</div>
</section>
