

<main id="main" class="aggregate main">

	<section class="masthead masthead--aggregate">



	<div class="masthead__wrapper wrapper grid-x grid-margin-x">

		<div class="masthead__title cell xsmall-12 large-7">

			<h1 class="font-specialty-2">Faculty Aggregate Headline</h1>
			
			
			
		</div>
		
	</div>
	
</section>

	<div class="wrapper">
	
		<div class="grid-x grid-margin-x">

			<div class="rail cell xsmall-12 large-4">

				<section class="filter component">

	<h2 class="filter__title font-h4">Faculty Filters</h2>
	<hr />

	<div class="filter__set">

		<ul class="filter__accordion accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

			<li class="filter__item filter__item--checkboxes  accordion-item" data-accordion-item>

				<a href="#accordion0" class="filter__heading accordion-title">
					<span class="filter__label">Type</span>
					<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
				</a>

				<div class="filter__content accordion-content" data-tab-content id="accordion0">
					 <fieldset>
	<legend class="show-for-sr">type</legend>
	<div class="form__field">
		<input id="type-0" name="type[]" type="checkbox" value="Department Chair" />
		<label for="type-0">
			Department Chair
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="type-1" name="type[]" type="checkbox" value="Full-Time Faculty" />
		<label for="type-1">
			Full-Time Faculty
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="type-2" name="type[]" type="checkbox" value="Adjunct Faculty" />
		<label for="type-2">
			Adjunct Faculty
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="type-3" name="type[]" type="checkbox" value="Emeritus Faculty" />
		<label for="type-3">
			Emeritus Faculty
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="type-4" name="type[]" type="checkbox" value="Staff" />
		<label for="type-4">
			Staff
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
</fieldset>

					 
				</div>

			</li>

		</ul>

	</div>

</section>

			</div>

			<div class="aggregate__content content cell xsmall-12 large-8">

				<div class="aggregate__set">

					<div class="keyword">
	<div class="form__field form__field--is-search">
	<input id="search" name="search" type="search" required="required" placeholder="Search Faculty">
	<label for="search">Search Faculty</label>
	<button type="submit" class="search-button">
		<span class="show-for-sr">Search</span>
		
			<svg class="brei-icon brei-icon-search" focusable="false">
				<use xlink:href="#brei-icon-search"></use>
			</svg>
		
	</button>
</div>

</div>

					
					<div class="aggregate__info">

						<div class="aggregate__chips"></div>

						<a href="#" class="aggregate__reset">Clear All</a>

						<div class="aggregate__count"></div>

					</div>
					
					<div class="aggregate__loading">

						<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
							<path opacity="0.2" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"></path>
							<path d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z">
								<animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="1s" repeatCount="indefinite"></animateTransform>
							</path>
 						 </svg>

					</div>
					
					<h2 class="show-for-sr">Search Results</h2>
					
					<div class="aggregate__results" data-src="/data/faculty.json"></div>
					
					<div role="navigation" class="aggregate__pagination"></div>

				</div>	

			</div>
			
		</div>
	</div>

</main>
