

<section class="feed feed--wide feed--faculty component">

	<div class="feed__wrapper wrapper">

		<h2 class="feed__heading font-h2">Faculty Feed H2 Headline Lorem Ipsum</h2>

		<div class="feed__list">

			<div class="card card--faculty" itemscope itemtype="https://schema.org/Person">

	<figure class="card__figure">
		<img src="https://via.placeholder.com/500" alt="[photo alt text]" class="card__image" width="500" height="500" itemprop="image" />
	</figure>

	<div class="card__content">
	 
		<h3 class="card__heading font-h3" itemprop="name">Faculty Name 1 H3 Headline Lorem</h3>

		<p class="card__subheading font-subhead" itemprop="jobTitle">Optional Faculty Title, Pronouns Lorem Ipsum Dolor Sit Amet</p>

		<ul class="card__contact-list">
			<li class="card__contact-item"><a href="mailto:email@cwu.edu" itemprop="email">email@cwu.edu</a></li><li class="card__contact-item"><a href="tel:000-000-0000" itemprop="telephone">000-000-0000</a></li>
		</ul>

		<p class="card__info" itemprop="address">Address Line One Lorem Ipsum<br />Address Line Two Lorem Ipsum<br />Address Line Three Lorem Ipsum</p>
		 
		<a href="#" itemprop="url" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
		 
	</div>

</div><div class="card card--faculty" itemscope itemtype="https://schema.org/Person">

	<figure class="card__figure">
		<img src="https://via.placeholder.com/500" alt="[photo alt text]" class="card__image" width="500" height="500" itemprop="image" />
	</figure>

	<div class="card__content">
	 
		<h3 class="card__heading font-h3" itemprop="name">Faculty Name 2 H3 Headline Lorem</h3>

		<p class="card__subheading font-subhead" itemprop="jobTitle">Optional Faculty Title, Pronouns Lorem Ipsum Dolor Sit Amet</p>

		<ul class="card__contact-list">
			<li class="card__contact-item"><a href="mailto:email@cwu.edu" itemprop="email">email@cwu.edu</a></li><li class="card__contact-item"><a href="tel:000-000-0000" itemprop="telephone">000-000-0000</a></li>
		</ul>

		<p class="card__info" itemprop="address">Address Line One Lorem Ipsum<br />Address Line Two Lorem Ipsum<br />Address Line Three Lorem Ipsum</p>
		 
		<a href="#" itemprop="url" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
		 
	</div>

</div><div class="card card--faculty" itemscope itemtype="https://schema.org/Person">

	<figure class="card__figure">
		<img src="https://via.placeholder.com/500" alt="[photo alt text]" class="card__image" width="500" height="500" itemprop="image" />
	</figure>

	<div class="card__content">
	 
		<h3 class="card__heading font-h3" itemprop="name">Faculty Name 3 H3 Headline Lorem</h3>

		<p class="card__subheading font-subhead" itemprop="jobTitle">Optional Faculty Title, Pronouns Lorem Ipsum Dolor Sit Amet</p>

		<ul class="card__contact-list">
			<li class="card__contact-item"><a href="mailto:email@cwu.edu" itemprop="email">email@cwu.edu</a></li><li class="card__contact-item"><a href="tel:000-000-0000" itemprop="telephone">000-000-0000</a></li>
		</ul>

		<p class="card__info" itemprop="address">Address Line One Lorem Ipsum<br />Address Line Two Lorem Ipsum<br />Address Line Three Lorem Ipsum</p>
		 
		<a href="#" itemprop="url" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
		 
	</div>

</div>

		</div>

		<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">Primary Button</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>

	</div>
</section>
