

<div class="featured featured--narrow component">

	<div class="featured__card featured__card--gallery">

		<div class="featured__content">
		
			<h2 class="featured__heading font-h2">Featured Content H2 Headline Ipsum Dolor Sit Amet Elid Sed To</h2>

			<div class="featured__description">

				<p class="featured__copy font-body">Structured body copy 150 characters lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

				<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>

			</div>

		</div>

		<div class="featured__items">
			<div class="gallery">

	<div class="gallery__items">

		<figure class="gallery__image">
		
			<img src="https://picsum.photos/836/628" alt="[image alt text]" width="836" height="628" />

			

		</figure>

	</div>

	<div class="gallery__caption" aria-hidden="true"></div>

</div>
		</div>

	</div>

	<div class="featured__card featured__card--video">

		<div class="featured__content">
		
			<h2 class="featured__heading font-h2">Featured Content H2 Headline Ipsum Dolor Sit Amet Elid Sed To</h2>

			<div class="featured__description">

				<p class="featured__copy font-body">Structured body copy 150 characters lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

				<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>

			</div>

		</div>

		<div class="featured__items">
			<figure class="video">

	<img src="https://picsum.photos/1264/711" alt="[image alt text]" class="video__poster" width="1264" height="711" />
	
	<a href="https://www.youtube.com/watch?v=J5OSRpRyl6g" class="btn btn--xlarge play-button">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-play" focusable="false">
				<use xlink:href="#brei-icon-play"></use>
			</svg>
		</span>	
		<span class="show-for-sr">Play video</span>
</a>
	
</figure>
		</div>

	</div>

	<div class="featured__card featured__card--text">

		<div class="featured__content">		

			<h2 class="featured__heading font-h2">Featured Content H2 Headline Ipsum Dolor Sit Amet Elid Sed To</h2>

			<div class="featured__description">

				<p class="featured__copy font-body">Structured body copy 150 characters lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

				<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>

			</div>

		</div>

	</div>

</div>
