

		<div class="form__field">
			<input type="file" required="required" id="file-upload" name="file-upload"/>
			<label for="file-upload">Enabled/Required</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use xlink:href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
				<div class="form__help-message">Must be a GIF, JPG, or PNG</div>
		</div>
		<div class="form__field">
			<input type="file" id="file-upload-2" name="file-upload-2"/>
			<label for="file-upload-2">Enabled/Optional</label>
		</div>

