

<div class="text-3xl">
		<div class="block my-8 font-inter">
	<span class="block">Inter Regular</span>
	<span class="block uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block lowercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block">12345678901234567890!@#$%^&*()?</span>
</div>
		<div class="block my-8 font-inter font-medium">
	<span class="block">Inter Medium</span>
	<span class="block uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block lowercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block">12345678901234567890!@#$%^&*()?</span>
</div>
		<div class="block my-8 font-inter font-semibold">
	<span class="block">Inter SemiBold</span>
	<span class="block uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block lowercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block">12345678901234567890!@#$%^&*()?</span>
</div>
		<div class="block my-8 font-inter font-bold">
	<span class="block">Inter Bold</span>
	<span class="block uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block lowercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block">12345678901234567890!@#$%^&*()?</span>
</div>
		<div class="block my-8 font-inter font-extrabold">
	<span class="block">Inter ExtraBold</span>
	<span class="block uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block lowercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block">12345678901234567890!@#$%^&*()?</span>
</div>
		<div class="block my-8 font-lora">
	<span class="block">Lora Regular</span>
	<span class="block uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block lowercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block">12345678901234567890!@#$%^&*()?</span>
</div>
		<div class="block my-8 font-lora font-italic">
	<span class="block">Lora Regular Italic</span>
	<span class="block uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block lowercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block">12345678901234567890!@#$%^&*()?</span>
</div>
		<div class="block my-8 font-lora font-medium font-italic">
	<span class="block">Lora Medium Italic</span>
	<span class="block uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block lowercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block">12345678901234567890!@#$%^&*()?</span>
</div>
		<div class="block my-8 font-lora font-semibold font-italic">
	<span class="block">Lora SemiBold Italic</span>
	<span class="block uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block lowercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
	<span class="block">12345678901234567890!@#$%^&*()?</span>
</div>
</div>
