

<footer id="global-footer" class="footer">

	<div class="footer__main">
		<div class="wrapper">

		<nav id="cta-navigation" class="nav-cta">

	<ul class="nav-cta__list">
		<li class="nav-cta__item">
			<a href="#">
			   <span>Apply Now</span>
			</a>
		</li>
		<li class="nav-cta__item">
			<a href="#">
			   <span>Visit Us</span>
			</a>
		</li>
		<li class="nav-cta__item">
			<a href="#">
			   <span>Request Info</span>
			</a>
		</li>
	</ul>

</nav>

		<a href="/" class="logo">
	<span class="show-for-sr">Return to the Central Washington University home page</span>
	<span class="logo__svg" aria-hidden="true">
			<svg class="brei-icon brei-icon-logo-signature" focusable="false">
				<use xlink:href="#brei-icon-logo-signature"></use>
			</svg>
		</span>
</a>


		<div class="grid-x grid-margin-x">

			<div class="footer__info cell xsmall-12 large-6">

				 <p class="footer__address">
				 	<strong>Central Washington University</strong><br />
					400 E. University Way, Ellensburg, WA 98926
				</p>

				<p class="footer__contact">
					<strong>Campus Operator:</strong>
					<a href="tel:5099631111">(509) 963-1111</a>
				</p>
				<p class="footer__contact">
					<strong>Public Affairs:</strong>
					<a href="tel:5099631221">(509) 963-1221</a>
				</p>
					
			</div>

			<div class="footer__social cell xsmall-12 large-2">
				<ul class="social">
	<li class="social__item"><a href="https://www.facebook.com/cwu.wildcats" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-facebook" focusable="false">
				<use xlink:href="#brei-icon-facebook"></use>
			</svg>
		</span>	
</a></li>
	<li class="social__item"><a href="https://www.linkedin.com/school/central-washington-university/" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-linkedin" focusable="false">
				<use xlink:href="#brei-icon-linkedin"></use>
			</svg>
		</span>	
</a></li>
	<li class="social__item"><a href="https://www.instagram.com/central_washington_university/" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-instagram" focusable="false">
				<use xlink:href="#brei-icon-instagram"></use>
			</svg>
		</span>	
</a></li>
	<li class="social__item"><a href="https://www.youtube.com/user/CentralWashU" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-youtube" focusable="false">
				<use xlink:href="#brei-icon-youtube"></use>
			</svg>
		</span>	
</a></li>
	<li class="social__item"><a href="https://twitter.com/CentralWashU" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-twitter" focusable="false">
				<use xlink:href="#brei-icon-twitter"></use>
			</svg>
		</span>	
</a></li>
</ul>

			</div>

			<div class="footer__nav cell xsmall-12 large-2">
				<nav id="footer-navigation-one" class="nav-footer">

	<ul class="nav-footer__list">
		<li class="nav-footer__item"><a href="#" class="menu ">
	<span class="text">CWU Events</span>
	
</a>
</li>
		<li class="nav-footer__item"><a href="#" class="menu ">
	<span class="text">CWU News</span>
	
</a>
</li>
		<li class="nav-footer__item"><a href="#" class="menu ">
	<span class="text">CWU Libraries</span>
	
</a>
</li>
		<li class="nav-footer__item"><a href="#" class="menu ">
	<span class="text">Wildcat Shop</span>
	
</a>
</li>
	</ul>

</nav>
			</div>

			<div class="footer__nav cell xsmall-12 large-2">
				<nav id="footer-navigation-two" class="nav-footer">

	<ul class="nav-footer__list">
		<li class="nav-footer__item"><a href="#" class="menu ">
	<span class="text">Careers</span>
	
</a>
</li>
		<li class="nav-footer__item"><a href="#" class="menu ">
	<span class="text">Maps & Directions</span>
	
</a>
</li>
		<li class="nav-footer__item"><a href="#" class="menu ">
	<span class="text">Sitemap</span>
	
</a>
</li>
	</ul>

</nav>
			</div>

		</div>

		<nav id="legal-navigation" class="nav-legal">

	<ul class="nav-legal__list">
		<li class="nav-legal__item"><a href="#" class="menu menu--audience">
	<span class="text">Policies & Procedures</span>
	
</a>
</li>
		<li class="nav-legal__item"><a href="#" class="menu menu--audience">
	<span class="text">Privacy</span>
	
</a>
</li>
		<li class="nav-legal__item"><a href="#" class="menu menu--audience">
	<span class="text">Accessibility</span>
	
</a>
</li>
		<li class="nav-legal__item"><a href="#" class="menu menu--audience">
	<span class="text">Emergency Information</span>
	
</a>
</li>
		<li class="nav-legal__item"><a href="#" class="menu menu--audience">
	<span class="text">AA/EEO/Title X/Veteran/Disability Employer</span>
	
</a>
</li>
	</ul>

</nav>

		</div>
	</div>

	<div class="footer__copyright">
		<div class="wrapper">
			<p>© 2023 Central Washington University</p>
		</div>
	</div>
	
</footer>
