

<main id="main" class="system main">

	<nav id="breadcrumbs" class="breadcrumbs" aria-label="Breadcrumbs">
	<ul class="breadcrumbs__list wrapper">
		<li class="breadcrumbs__item breadcrumbs__item--home">
			<a href="/" title="Home">
				
			<svg class="brei-icon brei-icon-home" focusable="false">
				<use xlink:href="#brei-icon-home"></use>
			</svg>
		
				<span class="show-for-sr">Home</span>
			</a>
			
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		
		</li>

		<li class="breadcrumbs__item">
			<a href="#grandparent" class="breadcrumbs__link">Breadcrumb Parent Page</a>
			
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		
		</li>
		<li class="breadcrumbs__item breadcrumbs__item--current">
			<span class="breadcrumbs__span">Breadcrumb Curent Page</span>
		</li>
	</ul>
</nav>


	<div class="wrapper">
		<div class="grid-x grid-margin-x">
			<div class="cell xsmall-12 large-10 large-offset-1 xlarge-8 xlarge-offset-2">
 
				<form class="form component" action="#submitted" method="get">

	<h1 class="form__title font-h1">Forms H1 Headline Two Lines Lorem Ipsum Dolor Sit Amet Consectetur</h1><hr />
	

	<p class="form__introduction font-intro">Introduction lorem ipsum dolor sit amet, consectetur adipis elit sed do euismod tempor ut.</p>
	<p class="form__copy font-body">Structured body copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>	

	<div class="form__row grid-x grid-margin-x">
		<div class="form__column cell xsmall-12 medium-6">
					<div class="form__field">
			<input type="text" required="required" id="first-name" name="first-name"/>
			<label for="first-name">First Name</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use xlink:href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
		</div>

		</div>
		<div class="form__column cell xsmall-12 medium-6">
					<div class="form__field">
			<input type="text" required="required" pattern=".{2,}" id="last-name" name="last-name"/>
			<label for="last-name">Last Name</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use xlink:href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
		</div>

		</div>
	</div>
	<div class="form__row grid-x grid-margin-x">
		<div class="form__column cell xsmall-12">
					<div class="form__field">
			<input type="email" required="required" id="email-address" name="email-address"/>
			<label for="email-address">Email</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use xlink:href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
				<div class="form__help-message">address@domain.com</div>
		</div>

		</div>
	</div>
	<div class="form__row grid-x grid-margin-x">
		<div class="form__column cell xsmall-12">
					<div class="form__field">
			<input type="text" required="required" id="city" name="city"/>
			<label for="city">City</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use xlink:href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
		</div>

		</div>
	</div>
	<div class="form__row grid-x grid-margin-x">
		<div class="form__column cell xsmall-12 medium-6">
					<div class="form__field">
			<select id="country" name="country" required="required">
					<option></option>
					<option value="United States">United States</option>
					<option value="Canada">Canada</option>
					<option value="Mexico">Mexico</option>
			</select>
			<label for="country">Country</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use xlink:href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
		</div>

		</div>
		<div class="form__column cell xsmall-12 medium-6">
					<div class="form__field">
			<select id="state" name="state" required="required">
					<option></option>
					<option value="MD">Maryland</option>
					<option value="OH">Ohio</option>
					<option value="PA">Pennsylvania</option>
					<option value="WV">West Virginia</option>
			</select>
			<label for="state">State</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use xlink:href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
		</div>

		</div>
	</div>
	<div class="form__row grid-x grid-margin-x">
		<div class="form__column cell xsmall-12">
					<div class="form__field">
			<textarea name="textarea" id="textarea" required="required"></textarea>
			<label for="textarea">Enabled/Required</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use xlink:href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
				<div class="form__help-message">Leave a comment</div>
		</div>
		<div class="form__field">
			<textarea name="textarea" id="textarea" required="required" maxlength="45"></textarea>
			<label for="textarea">Enabled/Required/Max</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use xlink:href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
				<div class="form__help-message">Leave a comment</div>
		</div>
		<div class="form__field">
			<textarea name="textarea-2" id="textarea-2"></textarea>
			<label for="textarea-2">Enabled/Optional</label>
		</div>

		</div>
	</div>
	<div class="form__row grid-x grid-margin-x">
		<div class="form__column cell xsmall-12">
					<div class="form__field">
			<input type="file" required="required" id="file-upload" name="file-upload"/>
			<label for="file-upload">Enabled/Required</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use xlink:href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
				<div class="form__help-message">Must be a GIF, JPG, or PNG</div>
		</div>
		<div class="form__field">
			<input type="file" id="file-upload-2" name="file-upload-2"/>
			<label for="file-upload-2">Enabled/Optional</label>
		</div>

		</div>
	</div>
	<div class="form__row grid-x grid-margin-x">
		<div class="form__column cell xsmall-12">
			<fieldset>
	
	<div class="form__field">
		<input id="check-box-1" name="check[]" type="checkbox" value="1" />
		<label for="check-box-1">
			Lorem Checkbox
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use xlink:href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
</fieldset>

		</div>
	</div>
	<div class="form__row grid-x grid-margin-x">
		<div class="form__column cell xsmall-12">
			<fieldset>
	
	<div class="form__field form__field--radio">
		<input id="radio-btn" name="radio" type="radio" value="1" />
		<label for="radio-btn">
			Lorem Radio
			<span class="radio-button" role="none">
				<span class="radio-button__center"></span>
			</span>
		</label>
	</div>
	<div class="form__field form__field--radio">
		<input id="radio-btn-2" name="radio" type="radio" value="2" />
		<label for="radio-btn-2">
			Lorem Radio Two
			<span class="radio-button" role="none">
				<span class="radio-button__center"></span>
			</span>
		</label>
	</div>
</fieldset>

		</div>
	</div>

	<button type="submit" class="btn btn--primary">
		<span class="text">Submit</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
	</button>

</form>

			</div>
		</div>
	</div>

</main>
