

<header id="global-header" class="header">

	<div class="header__upper">
		<div class="wrapper">

			<a href="/" class="logo">
	<span class="show-for-sr">Return to the Central Washington University home page</span>
	<span class="logo__svg" aria-hidden="true">
			<svg class="brei-icon brei-icon-logo-signature" focusable="false">
				<use href="#brei-icon-logo-signature"></use>
			</svg>
		</span>
</a>
 

			<button class="header__toggle" aria-controls="header__navigation" aria-pressed="false" aria-label="Open primary navigation">
				<span class="show-for-sr">Open primary navigation</span>
				
			<svg class="brei-icon brei-icon-menu" focusable="false">
				<use href="#brei-icon-menu"></use>
			</svg>
		
				
			<svg class="brei-icon brei-icon-close" focusable="false">
				<use href="#brei-icon-close"></use>
			</svg>
		
			</button>

			<nav id="secondary-navigation-desktop" class="nav-secondary">
	

	<ul class="nav-secondary__list accordion" data-accordion data-multi-expand="false" data-allow-all-closed="true">
		<li class="nav-secondary__item accordion-item" data-accordion-item>
			<a href="#nav-secondary-desktop-0" class="nav-secondary__heading accordion-title">
			   <span class="nav-secondary__label">Resources for:</span>
			   
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		
			</a>

			<div class="nav-secondary__content accordion-content" data-tab-content id="nav-secondary-desktop-0">
				 <ul class="nav-secondary__children">
					<li class="nav-secondary__child">
						<a href="#">Prospective Students</a>
					</li>
					<li class="nav-secondary__child">
						<span>Current Students</span>
						<ul class="nav-secondary__grandchildren">
							<li class="nav-secondary__grandchild">
								<a href="#">MyCWU</a>
							</li>
							<li class="nav-secondary__grandchild">
								<a href="#">Email/Outlook</a>
							</li>
						</ul>
					</li>
					<li class="nav-secondary__child">
						<a href="#">Parents & Families</a>
					</li>
					<li class="nav-secondary__child">
						<a href="#">CWU Alumni</a>
					</li>
					<li class="nav-secondary__child">
						<a href="#">Conference Services</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Apply</span>
	
</a>

		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Visit</span>
	
</a>

		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Give</span>
	
</a>

		</li>
	</ul>


	
</nav>
			<div class="search-desktop">

	<button class="search-desktop__toggle" aria-controls="search-form-desktop" aria-pressed="false" aria-label="Open site search">
		
			<svg class="brei-icon brei-icon-search" focusable="false">
				<use href="#brei-icon-search"></use>
			</svg>
		
		
			<svg class="brei-icon brei-icon-close" focusable="false">
				<use href="#brei-icon-close"></use>
			</svg>
		
	</button>

	<form id="search-form-desktop" class="search-desktop__form" method="get" action="" hidden>
		<label class="show-for-sr" for="q">What're you looking for?</label>
		<input name="query" id="q-desktop" class="search-desktop__input" type="search" placeholder="What're you looking for?" aria-label="Search" tabindex="-1">
		<button class="search-desktop__submit" tabindex="-1" type="submit">Submit</button>

	</form>

</div>

		</div>
	</div>

	<div id="header__navigation" class="header__lower">
	
		<div class="search-mobile">
	<div class="wrapper">

		<form id="search-form--mobile" class="form__field form__field--is-search" method="get" action="">
			<label class="show-for-sr" for="q-mobile">What're you looking for?</label>		
			<input name="query" id="q-mobile" name="search" type="search" aria-label="Search" placeholder="What're you looking for?">
			<button type="submit" class="search-button">
				<span class="show-for-sr">Search</span>
				
			<svg class="brei-icon brei-icon-search" focusable="false">
				<use href="#brei-icon-search"></use>
			</svg>
		
			</button>
		</form>

	</div>
</div>

		<div class="header__links">
			<nav id="primary-navigation" class="nav-primary">
	<div class="wrapper">

	<ul class="nav-primary__list accordion" data-accordion data-multi-expand="false" data-allow-all-closed="true">
		<li class="nav-primary__item accordion-item" data-accordion-item>
			<a href="#nav-primary-0" class="nav-primary__heading accordion-title">
			   <span class="nav-primary__label">Find Materials</span>
			   <span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
</span>
			</a>

			<div class="nav-primary__content accordion-content" data-tab-content id="nav-primary-0">
				 <ul class="nav-primary__children">
				 	<li class="nav-primary__child">
						<a href="#" class="menu menu--primary">
	<span class="text">Find Materials</span>
	
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Books, Articles, & More (OneSearch)</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Databases</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Online Journals</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">ScholarWorks</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Course Reserves</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">New Books</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
				</ul>
			</div>
		</li>
		<li class="nav-primary__item accordion-item" data-accordion-item>
			<a href="#nav-primary-1" class="nav-primary__heading accordion-title">
			   <span class="nav-primary__label">Use the Libraries</span>
			   <span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
</span>
			</a>

			<div class="nav-primary__content accordion-content" data-tab-content id="nav-primary-1">
				 <ul class="nav-primary__children">
				 	<li class="nav-primary__child">
						<a href="#" class="menu menu--primary">
	<span class="text">Use the Libraries</span>
	
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Hours</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Locations & Collections</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">My Library Accounts</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Borrow & Request</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Reserve a Study Room</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Print, Scan, & Compute</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Library Accessibility</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
				</ul>
			</div>
		</li>
		<li class="nav-primary__item accordion-item" data-accordion-item>
			<a href="#nav-primary-2" class="nav-primary__heading accordion-title">
			   <span class="nav-primary__label">Get Support</span>
			   <span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
</span>
			</a>

			<div class="nav-primary__content accordion-content" data-tab-content id="nav-primary-2">
				 <ul class="nav-primary__children">
				 	<li class="nav-primary__child">
						<a href="#" class="menu menu--primary">
	<span class="text">Get Support</span>
	
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Ask Here</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Research Support</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Instruction & Course Support</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Learning Commons</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Library & Information Science Programs</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
				</ul>
			</div>
		</li>
		<li class="nav-primary__item accordion-item" data-accordion-item>
			<a href="#nav-primary-3" class="nav-primary__heading accordion-title">
			   <span class="nav-primary__label">Connect</span>
			   <span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
</span>
			</a>

			<div class="nav-primary__content accordion-content" data-tab-content id="nav-primary-3">
				 <ul class="nav-primary__children">
				 	<li class="nav-primary__child">
						<a href="#" class="menu menu--primary">
	<span class="text">Connect</span>
	
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">About Us</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Employee Directory</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Events</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Jobs</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Friends of the Brooks Library</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
				</ul>
			</div>
		</li>
	</ul>

</nav>
			<nav id="secondary-navigation-mobile" class="nav-secondary">
	<div class="wrapper">

	<ul class="nav-secondary__list accordion" data-accordion data-multi-expand="false" data-allow-all-closed="true">
		<li class="nav-secondary__item accordion-item" data-accordion-item>
			<a href="#nav-secondary-mobile-0" class="nav-secondary__heading accordion-title">
			   <span class="nav-secondary__label">Resources for:</span>
			   
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		
			</a>

			<div class="nav-secondary__content accordion-content" data-tab-content id="nav-secondary-mobile-0">
				 <ul class="nav-secondary__children">
					<li class="nav-secondary__child">
						<a href="#">Prospective Students</a>
					</li>
					<li class="nav-secondary__child">
						<span>Current Students</span>
						<ul class="nav-secondary__grandchildren">
							<li class="nav-secondary__grandchild">
								<a href="#">MyCWU</a>
							</li>
							<li class="nav-secondary__grandchild">
								<a href="#">Email/Outlook</a>
							</li>
						</ul>
					</li>
					<li class="nav-secondary__child">
						<a href="#">Parents & Families</a>
					</li>
					<li class="nav-secondary__child">
						<a href="#">CWU Alumni</a>
					</li>
					<li class="nav-secondary__child">
						<a href="#">Conference Services</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Apply</span>
	
</a>

		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Visit</span>
	
</a>

		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Give</span>
	
</a>

		</li>
	</ul>


	</div>
</nav>
		</div>
		
	</div>

</header>
