

<header id="global-header" class="header">

	<div class="header__upper">
		<div class="wrapper">

			<a href="/" class="logo">
	<span class="show-for-sr">Return to the Central Washington University home page</span>
	<span class="logo__svg" aria-hidden="true">
			<svg class="brei-icon brei-icon-logo-signature" focusable="false">
				<use xlink:href="#brei-icon-logo-signature"></use>
			</svg>
		</span>
</a>
 

			<button class="header__toggle" aria-controls="header__navigation" aria-pressed="false" aria-label="Open primary navigation">
				<span class="show-for-sr">Open primary navigation</span>
				
			<svg class="brei-icon brei-icon-menu" focusable="false">
				<use xlink:href="#brei-icon-menu"></use>
			</svg>
		
				
			<svg class="brei-icon brei-icon-close" focusable="false">
				<use xlink:href="#brei-icon-close"></use>
			</svg>
		
			</button>

			<nav id="secondary-navigation-desktop" class="nav-secondary">
	

	<ul class="nav-secondary__list accordion" data-accordion data-multi-expand="false" data-allow-all-closed="true">
		<li class="nav-secondary__item accordion-item" data-accordion-item>
			<a href="#nav-secondary-0" class="nav-secondary__heading accordion-title">
			   <span class="nav-secondary__label">Resources for:</span>
			   
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		
			</a>

			<div class="nav-secondary__content accordion-content" data-tab-content id="nav-secondary-0">
				 <ul class="nav-secondary__children">
					<li class="nav-secondary__child">
						<a href="#">Prospective Students</a>
					</li>
					<li class="nav-secondary__child">
						<span>Current Students</span>
						<ul class="nav-secondary__grandchildren">
							<li class="nav-secondary__grandchild">
								<a href="#">MyCWU</a>
							</li>
							<li class="nav-secondary__grandchild">
								<a href="#">Email/Outlook</a>
							</li>
						</ul>
					</li>
					<li class="nav-secondary__child">
						<a href="#">Parents & Families</a>
					</li>
					<li class="nav-secondary__child">
						<a href="#">CWU Alumni</a>
					</li>
					<li class="nav-secondary__child">
						<a href="#">Conference Services</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Apply</span>
	
</a>

		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Visit</span>
	
</a>

		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Give</span>
	
</a>

		</li>
	</ul>


	
</nav>
			<div class="search-desktop">

	<button class="search-desktop__toggle" aria-controls="search-form-desktop" aria-pressed="false" aria-label="Open site search">
		
			<svg class="brei-icon brei-icon-search" focusable="false">
				<use xlink:href="#brei-icon-search"></use>
			</svg>
		
		
			<svg class="brei-icon brei-icon-close" focusable="false">
				<use xlink:href="#brei-icon-close"></use>
			</svg>
		
	</button>

	<form id="search-form-desktop" class="search-desktop__form" method="get" action="" hidden>
		<label class="show-for-sr" for="q">What're you looking for?</label>
		<input name="query" id="q-desktop" class="search-desktop__input" type="search" placeholder="What're you looking for?" aria-label="Search" tabindex="-1">
		<button class="search-desktop__submit" tabindex="-1" type="submit">Submit</button>

	</form>

</div>

		</div>
	</div>

	<div id="header__navigation" class="header__lower">
	
		<div class="search-mobile">
	<div class="wrapper">

		<form id="search-form--mobile" class="form__field form__field--is-search" method="get" action="">
			<label class="show-for-sr" for="q-mobile">What're you looking for?</label>		
			<input name="query" id="q-mobile" name="search" type="search" aria-label="Search" placeholder="What're you looking for?">
			<button type="submit" class="search-button">
				<span class="show-for-sr">Search</span>
				
			<svg class="brei-icon brei-icon-search" focusable="false">
				<use xlink:href="#brei-icon-search"></use>
			</svg>
		
			</button>
		</form>

	</div>
</div>

		<div class="header__links">
			<nav id="primary-navigation" class="nav-primary">
	<div class="wrapper">

	<ul class="nav-primary__list accordion" data-accordion data-multi-expand="false" data-allow-all-closed="true">
		<li class="nav-primary__item accordion-item" data-accordion-item>
			<a href="#nav-primary-0" class="nav-primary__heading accordion-title">
			   <span class="nav-primary__label">About CWU</span>
			   <span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
			</a>

			<div class="nav-primary__content accordion-content" data-tab-content id="nav-primary-0">
				 <ul class="nav-primary__children">
				 	<li class="nav-primary__child">
						<a href="#" class="menu menu--primary">
	<span class="text">About CWU</span>
	
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">History, Vision, & Values</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">University Leadership</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Campus Locations</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Offices</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Directory</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Local Community</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Media Resources</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
				</ul>
			</div>
		</li>
		<li class="nav-primary__item accordion-item" data-accordion-item>
			<a href="#nav-primary-1" class="nav-primary__heading accordion-title">
			   <span class="nav-primary__label">Admissions &amp; Aid</span>
			   <span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
			</a>

			<div class="nav-primary__content accordion-content" data-tab-content id="nav-primary-1">
				 <ul class="nav-primary__children">
				 	<li class="nav-primary__child">
						<a href="#" class="menu menu--primary">
	<span class="text">Admissions & Aid</span>
	
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Apply Now</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Visit Campus</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Campus Locations</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Tuition & Fees</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Financial Aid Scholarships</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Account Services</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Preview Day</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Admitted Students</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
				</ul>
			</div>
		</li>
		<li class="nav-primary__item accordion-item" data-accordion-item>
			<a href="#nav-primary-2" class="nav-primary__heading accordion-title">
			   <span class="nav-primary__label">Academics</span>
			   <span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
			</a>

			<div class="nav-primary__content accordion-content" data-tab-content id="nav-primary-2">
				 <ul class="nav-primary__children">
				 	<li class="nav-primary__child">
						<a href="#" class="menu menu--primary">
	<span class="text">Academics</span>
	
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Explore Programs</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Academic Colleges</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Specialized Programs</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Research</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Academic Resources</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Academic Calendar</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Library</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
				</ul>
			</div>
		</li>
		<li class="nav-primary__item accordion-item" data-accordion-item>
			<a href="#nav-primary-3" class="nav-primary__heading accordion-title">
			   <span class="nav-primary__label">Student Life</span>
			   <span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
			</a>

			<div class="nav-primary__content accordion-content" data-tab-content id="nav-primary-3">
				 <ul class="nav-primary__children">
				 	<li class="nav-primary__child">
						<a href="#" class="menu menu--primary">
	<span class="text">Student Life</span>
	
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Campus Housing</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Diversity & Inclusion</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Campus Dining</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Union</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Government</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Clubs & Organizations</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Fitness & Recreation</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Health & Wellness Services</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Support</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Employment & Volunteer Opportunities</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
				</ul>
			</div>
		</li>
		<li class="nav-primary__item">
			<a href="#" class="menu menu--primary">
	<span class="text">Athletics</span>
	
</a>

		</li>
	</ul>

</nav>
			<nav id="secondary-navigation-mobile" class="nav-secondary">
	<div class="wrapper">

	<ul class="nav-secondary__list accordion" data-accordion data-multi-expand="false" data-allow-all-closed="true">
		<li class="nav-secondary__item accordion-item" data-accordion-item>
			<a href="#nav-secondary-0" class="nav-secondary__heading accordion-title">
			   <span class="nav-secondary__label">Resources for:</span>
			   
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use xlink:href="#brei-icon-chevron"></use>
			</svg>
		
			</a>

			<div class="nav-secondary__content accordion-content" data-tab-content id="nav-secondary-0">
				 <ul class="nav-secondary__children">
					<li class="nav-secondary__child">
						<a href="#">Prospective Students</a>
					</li>
					<li class="nav-secondary__child">
						<span>Current Students</span>
						<ul class="nav-secondary__grandchildren">
							<li class="nav-secondary__grandchild">
								<a href="#">MyCWU</a>
							</li>
							<li class="nav-secondary__grandchild">
								<a href="#">Email/Outlook</a>
							</li>
						</ul>
					</li>
					<li class="nav-secondary__child">
						<a href="#">Parents & Families</a>
					</li>
					<li class="nav-secondary__child">
						<a href="#">CWU Alumni</a>
					</li>
					<li class="nav-secondary__child">
						<a href="#">Conference Services</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Apply</span>
	
</a>

		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Visit</span>
	
</a>

		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Give</span>
	
</a>

		</li>
	</ul>


	</div>
</nav>
		</div>
		
	</div>

</header>
