

<main id="main" class="home main">

	<section class="masthead masthead--home masthead--video animateOnce">


	<figure class="masthead__gallery">
		<button class="masthead__btn masthead__btn--is-playing btn btn--small" aria-label="Pause video" aria-pressed="false">
			<span class="show-for-sr">Pause video</span>
			<span class="btn__icon">
				
			<svg class="brei-icon brei-icon-play" focusable="false">
				<use xlink:href="#brei-icon-play"></use>
			</svg>
		
				
			<svg class="brei-icon brei-icon-pause" focusable="false">
				<use xlink:href="#brei-icon-pause"></use>
			</svg>
		
			</span>
		</button>

		<video autoplay loop muted playsinline preload="auto" class="masthead__video" poster="https://picsum.photos/1920/1080">
			<source src="/video/alb_tvn0212_1080p.mp4" type="video/mp4" />
		</video>

	</figure>

	<div class="masthead__wrapper wrapper grid-x grid-margin-x">

		<div class="masthead__title cell xsmall-12">
			<h1 class="font-specialty-2">We See <br />Futures</h1>
		</div>

		<div class="masthead__copy cell xsmall-12 medium-9 large-6">	
			<p class="font-big">At Central Washington University, you'll find a community designed to support your individual journey to success.</p>
		</div>
			
		</div>
		
	</div>
	
</section>

	<section class="explore-programs component animateOnce">
	<div class="explore-programs__wrapper wrapper">
		<div class="grid-x grid-margin-x">
		
			<div class="explore-programs__content cell xsmall-12 large-5">

				<h2 class="explore-programs__heading font-h1">Forward-Thinking Programs</h2>
				<hr />

				<p class="explore-programs__copy font-big">Prepare for the careers of today and tomorrow. Chart your own course with more than 135 accredited college majors and 32 accredited master's degree programs.</p>

				<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">Explore Programs</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>

			</div>

			<div class="explore-programs__grid cell xsmall-12 large-6 large-offset-1 animateOnce">

				<div class="explore-programs__cell explore-programs__cell--photo">

					<figure class="explore-programs__figure">
						<img src="https://picsum.photos/465/407" alt="[photo alt text]" class="explore-programs__image" width="465" height="407" />
					</figure>

					

				</div>
				<div class="explore-programs__cell explore-programs__cell--photo explore-programs__cell--tall">

					<figure class="explore-programs__figure">
						<img src="https://picsum.photos/465/703" alt="[photo alt text]" class="explore-programs__image" width="465" height="753" />
					</figure>

					

				</div>
				<div class="explore-programs__cell explore-programs__cell--stat">

					<figure class="explore-programs__figure">
						<img src="https://picsum.photos/465/407" alt="[photo alt text]" class="explore-programs__image" width="465" height="407" />
					</figure>

					<p class="explore-programs__stat"><strong>135</strong><br />accredited<br />college majors</p>

				</div>

			</div>
			
		</div>
	</div>
</section>

	<section class="shortcut component animateOnce">
	<div class="shortcut__wrapper wrapper">
	
		<div class="shortcut__content">

			<h2 class="shortcut__heading font-h1">You Belong at Central</h2>
			<hr />

		</div>

		<ul class="shortcut__grid">

			<li class="shortcut__item">
				<a href="#1" class="shortcut__link">

					<figure class="shortcut__figure">
						<img src="https://picsum.photos/seed/1/405/405" alt="[photo alt text]" class="shortcut__image" width="405" height="405" />
					</figure>

					<p class="shortcut__copy">Affordability</p>

				</a>
			</li>
			<li class="shortcut__item">
				<a href="#2" class="shortcut__link">

					<figure class="shortcut__figure">
						<img src="https://picsum.photos/seed/2/405/405" alt="[photo alt text]" class="shortcut__image" width="405" height="405" />
					</figure>

					<p class="shortcut__copy">Diversity & Inclusion</p>

				</a>
			</li>
			<li class="shortcut__item">
				<a href="#3" class="shortcut__link">

					<figure class="shortcut__figure">
						<img src="https://picsum.photos/seed/3/405/405" alt="[photo alt text]" class="shortcut__image" width="405" height="405" />
					</figure>

					<p class="shortcut__copy">Visit CWU</p>

				</a>
			</li>
			<li class="shortcut__item">
				<a href="#4" class="shortcut__link">

					<figure class="shortcut__figure">
						<img src="https://picsum.photos/seed/4/405/405" alt="[photo alt text]" class="shortcut__image" width="405" height="405" />
					</figure>

					<p class="shortcut__copy">Apply Today</p>

				</a>
			</li>
			
		</ul>
		
	</div>
</section>

	<div class="stats stats--home animateOnce component">

	<div class="stats__wrapper wrapper">

		<h2 class="stats__heading font-h1">CWU by the Numbers</h2>

		<div class="stats__list">

			<div class="stats__card stats__card--standalone">

				<h3 class="stats__info"><span>10K</span></h3>

				<h4 class="stats__headline font-h5">full-time Wildcats</h4>

				

				

			</div>
			<div class="stats__card stats__card--standalone">

				<h3 class="stats__info"><span>80%</span></h3>

				<h4 class="stats__headline font-h5">of students receive financial aid</h4>

				

				

			</div>
			<div class="stats__card stats__card--standalone">

				<h3 class="stats__info"><span>20/1</span></h3>

				<h4 class="stats__headline font-h5">student to faculty ratio</h4>

				

				

			</div>
			<div class="stats__card stats__card--standalone">

				<h3 class="stats__info"><span>125+</span></h3>

				<h4 class="stats__headline font-h5">student organizations</h4>

				

				

			</div>

		</div>

	</div>

</div>

	<section class="image-cards component animateOnce">
	<div class="image-cards__wrapper wrapper">
	
		<h2 class="image-cards__heading font-h1">The CWU Experience</h2>
		
		<hr />

		<div class="image-cards__grid">

			<li class="image-cards__item">

				<figure class="image-cards__figure">
					<img src="https://picsum.photos/seed/1/888/624" alt="[photo alt text]" class="image-cards__image" width="888" height="624" />
				</figure>

				<h3 class="image-cards__title"><span>Student Life</span></h3>

				<div class="image-cards__content">

					<p class="image-cards__label" aria-hidden="true">Student Life</h3>
				
					<p class="image-cards__copy">Structured body copy 125 characters lorem ipsum dolor sit amet consectetur adipiscing elit. Sed diam nonumy eirmod tempor invidun.</p>
					
					<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>
					
				</div>
				
				<a href="#student-life" class="image-cards__link"><span class="show-for-sr">Tertiary Button</span></a>
				
			</li>
			<li class="image-cards__item">

				<figure class="image-cards__figure">
					<img src="https://picsum.photos/seed/2/888/624" alt="[photo alt text]" class="image-cards__image" width="888" height="624" />
				</figure>

				<h3 class="image-cards__title"><span>Admissions & Aid</span></h3>

				<div class="image-cards__content">

					<p class="image-cards__label" aria-hidden="true">Admissions & Aid</h3>
				
					<p class="image-cards__copy">Begin building the future you've been dreaming about. It's easy to apply to CWU and we're here for you every step of the way.</p>
					
					<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Start Your Application Today</span>
</p>
					
				</div>
				
				<a href="#admissions-and-aid" class="image-cards__link"><span class="show-for-sr">Start Your Application Today</span></a>
				
			</li>
			<li class="image-cards__item">

				<figure class="image-cards__figure">
					<img src="https://picsum.photos/seed/3/888/624" alt="[photo alt text]" class="image-cards__image" width="888" height="624" />
				</figure>

				<h3 class="image-cards__title"><span>Academics</span></h3>

				<div class="image-cards__content">

					<p class="image-cards__label" aria-hidden="true">Academics</h3>
				
					<p class="image-cards__copy">Structured body copy 125 characters lorem ipsum dolor sit amet consectetur adipiscing elit. Sed diam nonumy eirmod tempor invidun.</p>
					
					<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>
					
				</div>
				
				<a href="#academics" class="image-cards__link"><span class="show-for-sr">Tertiary Button</span></a>
				
			</li>
			<li class="image-cards__item">

				<figure class="image-cards__figure">
					<img src="https://picsum.photos/seed/4/888/624" alt="[photo alt text]" class="image-cards__image" width="888" height="624" />
				</figure>

				<h3 class="image-cards__title"><span>About</span></h3>

				<div class="image-cards__content">

					<p class="image-cards__label" aria-hidden="true">About</h3>
				
					<p class="image-cards__copy">Structured body copy 125 characters lorem ipsum dolor sit amet consectetur adipiscing elit. Sed diam nonumy eirmod tempor invidun.</p>
					
					<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>
					
				</div>
				
				<a href="#about" class="image-cards__link"><span class="show-for-sr">Tertiary Button</span></a>
				
			</li>
			
		</ul>
		
	</div>
</section>

	<section class="feed feed--home feed--news feed--dark animateOnce">

	<div class="feed__wrapper wrapper">

		<div class="feed__title">

			<h2 class="feed__heading font-h1">CWU News</h2>

			<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">View All News</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>
		
		</div>

		<div class="feed__list">

			<div class="card card--news" itemscope itemtype="https://schema.org/NewsArticle">

	<figure class="card__figure">
		<img src="/img/photos/heart.jpg" alt="CWU students walking on campus" class="card__image" width="836" height="628" />
	</figure>

	<div class="card__content">
	 
		<h3 class="card__heading font-h4" itemprop="name">From the President: Heart of Higher Education Conference 2023</h3>
		 
		<p class="card__info"><span itemprop="dateline">May 05, 2023</span></p>
		<p class="card__info">by <span itemprop="author">Jim Wohlpart</span></p>
		 
		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Read More</span>
</p>
		 
	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Read more about 'From the President: Heart of Higher Education Conference 2023'</span></a>

</div><div class="card card--news" itemscope itemtype="https://schema.org/NewsArticle">

	<figure class="card__figure">
		<img src="/img/photos/were-leadership.jpg" alt="the CWU College of Business building" class="card__image" width="836" height="628" />
	</figure>

	<div class="card__content">
	 
		<h3 class="card__heading font-h4" itemprop="name">WERE leadership training program building momentum in 2023</h3>
		 
		<p class="card__info"><span itemprop="dateline">May 05, 2023</span></p>
		<p class="card__info">by <span itemprop="author">David Leder</span></p>
		 
		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Read More</span>
</p>
		 
	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Read more about 'WERE leadership training program building momentum in 2023'</span></a>

</div><div class="card card--news" itemscope itemtype="https://schema.org/NewsArticle">

	<figure class="card__figure">
		<img src="/img/photos/wildcat-football.jpg" alt="the CWU Wildcats football team" class="card__image" width="836" height="628" />
	</figure>

	<div class="card__content">
	 
		<h3 class="card__heading font-h4" itemprop="name">Wildcat Football Once Again Partners with Be The Match</h3>
		 
		<p class="card__info"><span itemprop="dateline">May 05, 2023</span></p>
		<p class="card__info">by <span itemprop="author">Jacob Thompson</span></p>
		 
		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Read More</span>
</p>
		 
	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Read more about 'Wildcat Football Once Again Partners with Be The Match'</span></a>

</div>

		</div>

		<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">View All News</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>

	</div>
</section>

	<section class="feed feed--home feed--events animateOnce">

	<div class="feed__wrapper wrapper">

		<div class="feed__title">

			<h2 class="feed__heading font-h1">CWU Upcoming Events</h2>

			<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">View All Events</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>
		
		</div>

		<div class="feed__list">

			<div class="card card--event" itemscope itemtype="https://schema.org/Event">
	
	<p class="card__date font-h4"><span itemprop="startDate" content="2023-03-06T02:30:00-07:00">March 06</span></p>

	<div class="card__content">
	
		<h3 class="card__heading font-h4" itemprop="name">Monday Movie Madness: I Wanna Dance With Somebody</h3>	

		<p class="card__info">07:30PM - 10:00PM</p>
		<p class="card__info" itemprop="location" itemscope itemtype="https://schema.org/Place"><span itemprop="name">Student Union and Recreation Center<br />Theatre Rm 210</span></p>

		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">View Event Details</span>
</p>

	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Learn  more about 'Monday Movie Madness: I Wanna Dance With Somebody'</span></a>

</div><div class="card card--event" itemscope itemtype="https://schema.org/Event">
	
	<p class="card__date font-h4"><span itemprop="startDate" content="2023-03-04T18:00:00-07:00">March 04</span></p>

	<div class="card__content">
	
		<h3 class="card__heading font-h4" itemprop="name">Softball Doubleheader Game vs Billings</h3>	

		<p class="card__info">11:00AM - 05:00PM</p>
		<p class="card__info" itemprop="location" itemscope itemtype="https://schema.org/Place"><span itemprop="name">Sports-Varsity Softball Field</span></p>

		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">View Event Details</span>
</p>

	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Learn  more about 'Softball Doubleheader Game vs Billings'</span></a>

</div><div class="card card--event" itemscope itemtype="https://schema.org/Event">
	
	<p class="card__date font-h4"><span itemprop="startDate" content="2023-03-02T24:00:00-07:00">March 02</span></p>

	<div class="card__content">
	
		<h3 class="card__heading font-h4" itemprop="name">Services & Activities Fee Committe Meeting</h3>	

		<p class="card__info">05:30PM - 07:00PM</p>
		<p class="card__info" itemprop="location" itemscope itemtype="https://schema.org/Place"><span itemprop="name">Virtual Location for Online Events</span></p>

		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">View Event Details</span>
</p>

	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Learn  more about 'Services & Activities Fee Committe Meeting'</span></a>

</div>

		</div>

		<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">View All Events</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>

	</div>
</section>

</main>

