

<table class="table" id="site-icons">
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-logo" focusable="false">
				<use href="#brei-icon-logo"></use>
			</svg>
		
			</td>
			<td>icon-logo</td>
			<td>{{svg "logo"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-logo-signature" focusable="false">
				<use href="#brei-icon-logo-signature"></use>
			</svg>
		
			</td>
			<td>icon-logo-signature</td>
			<td>{{svg "logo-signature"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-facebook" focusable="false">
				<use href="#brei-icon-facebook"></use>
			</svg>
		
			</td>
			<td>icon-facebook</td>
			<td>{{svg "facebook"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-instagram" focusable="false">
				<use href="#brei-icon-instagram"></use>
			</svg>
		
			</td>
			<td>icon-instagram</td>
			<td>{{svg "instagram"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-linkedin" focusable="false">
				<use href="#brei-icon-linkedin"></use>
			</svg>
		
			</td>
			<td>icon-linkedin</td>
			<td>{{svg "linkedin"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-twitter" focusable="false">
				<use href="#brei-icon-twitter"></use>
			</svg>
		
			</td>
			<td>icon-twitter</td>
			<td>{{svg "twitter"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-youtube" focusable="false">
				<use href="#brei-icon-youtube"></use>
			</svg>
		
			</td>
			<td>icon-youtube</td>
			<td>{{svg "youtube"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use href="#brei-icon-arrow"></use>
			</svg>
		
			</td>
			<td>icon-arrow</td>
			<td>{{svg "arrow"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		
			</td>
			<td>icon-check</td>
			<td>{{svg "check"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		
			</td>
			<td>icon-chevron</td>
			<td>{{svg "chevron"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-close" focusable="false">
				<use href="#brei-icon-close"></use>
			</svg>
		
			</td>
			<td>icon-close</td>
			<td>{{svg "close"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-external" focusable="false">
				<use href="#brei-icon-external"></use>
			</svg>
		
			</td>
			<td>icon-external</td>
			<td>{{svg "external"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-home" focusable="false">
				<use href="#brei-icon-home"></use>
			</svg>
		
			</td>
			<td>icon-home</td>
			<td>{{svg "home"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-menu" focusable="false">
				<use href="#brei-icon-menu"></use>
			</svg>
		
			</td>
			<td>icon-menu</td>
			<td>{{svg "menu"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
			</td>
			<td>icon-minus</td>
			<td>{{svg "minus"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-pause" focusable="false">
				<use href="#brei-icon-pause"></use>
			</svg>
		
			</td>
			<td>icon-pause</td>
			<td>{{svg "pause"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-peak" focusable="false">
				<use href="#brei-icon-peak"></use>
			</svg>
		
			</td>
			<td>icon-peak</td>
			<td>{{svg "peak"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-play" focusable="false">
				<use href="#brei-icon-play"></use>
			</svg>
		
			</td>
			<td>icon-play</td>
			<td>{{svg "play"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
			</td>
			<td>icon-plus</td>
			<td>{{svg "plus"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-quote" focusable="false">
				<use href="#brei-icon-quote"></use>
			</svg>
		
			</td>
			<td>icon-quote</td>
			<td>{{svg "quote"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-resize" focusable="false">
				<use href="#brei-icon-resize"></use>
			</svg>
		
			</td>
			<td>icon-resize</td>
			<td>{{svg "resize"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-search" focusable="false">
				<use href="#brei-icon-search"></use>
			</svg>
		
			</td>
			<td>icon-search</td>
			<td>{{svg "search"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-tooltip" focusable="false">
				<use href="#brei-icon-tooltip"></use>
			</svg>
		
			</td>
			<td>icon-tooltip</td>
			<td>{{svg "tooltip"}}</td>
		</tr>
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use href="#brei-icon-warning"></use>
			</svg>
		
			</td>
			<td>icon-warning</td>
			<td>{{svg "warning"}}</td>
		</tr>
</table>

