

<section class="iframe component">
	<div class="iframe__inner wrapper grid-x grid-margin-x">

		<div class="cell xsmall-12 large-10 large-offset-1 xlarge-8 xlarge-offset-2 user-markup">


	<h2 class="iframe__title font-h2">iFrame Embed H2 Headline Lorem Ipsum</h2><hr />
	<p class="iframe__copy font-body">Structured body copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

	<iframe src="https://www.cwu.edu/" height="200" width="200" title="Sample Iframe"></iframe>

		</div>
	</div>
</section>
