

<section class="ism">

	<div class="ism__wrapper wrapper">

		<h2 class="ism__title font-h2 hide-for-large">H2 Campus and Center Locations</h2>

		<div class="ism__map">
		
			<img src="/img/state-map.svg" alt="a map of Washington State, showing CWU campus loations" class="ism__image" />

			<ul class="ism__location-list">
				<li class="ism__location-item  is-active" style="left: 47.4%; top: 55.7%;">
					<a href="#0" class="ism__location-link" aria-controls="0" aria-expanded="true">
						<span class="trigger">
							
			<svg class="brei-icon brei-icon-peak" focusable="false">
				<use xlink:href="#brei-icon-peak"></use>
			</svg>
		
							
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
						</span>
						<span class="ism__location-name"><span>CWU Ellensburg</span></span>
					</a>
				</li>
				<li class="ism__location-item " style="left: 25.5%; top: 32%;">
					<a href="#1" class="ism__location-link" aria-controls="1" aria-expanded="false">
						<span class="trigger">
							
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
							
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
						</span>
						<span class="ism__location-name"><span>CWU Lynnwood</span></span>
					</a>
				</li>
				<li class="ism__location-item " style="left: 27.0%; top: 37.5%;">
					<a href="#2" class="ism__location-link" aria-controls="2" aria-expanded="false">
						<span class="trigger">
							
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
							
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
						</span>
						<span class="ism__location-name"><span>CWU Sammamish</span></span>
					</a>
				</li>
				<li class="ism__location-item " style="left: 26.2%; top: 43.5%;">
					<a href="#3" class="ism__location-link" aria-controls="3" aria-expanded="false">
						<span class="trigger">
							
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
							
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
						</span>
						<span class="ism__location-name"><span>CWU Des Moines</span></span>
					</a>
				</li>
				<li class="ism__location-item " style="left: 57.9%; top: 48.4%;">
					<a href="#4" class="ism__location-link" aria-controls="4" aria-expanded="false">
						<span class="trigger">
							
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
							
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
						</span>
						<span class="ism__location-name"><span>CWU Moses Lake</span></span>
					</a>
				</li>
				<li class="ism__location-item " style="left: 23.2%; top: 48.3%;">
					<a href="#5" class="ism__location-link" aria-controls="5" aria-expanded="false">
						<span class="trigger">
							
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
							
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
						</span>
						<span class="ism__location-name"><span>CWU Pierce County</span></span>
					</a>
				</li>
				<li class="ism__location-item " style="left: 48.8%; top: 70.5%;">
					<a href="#6" class="ism__location-link" aria-controls="6" aria-expanded="false">
						<span class="trigger">
							
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
							
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
						</span>
						<span class="ism__location-name"><span>CWU Yakima</span></span>
					</a>
				</li>
				<li class="ism__location-item " style="left: 54.1%; top: 41.2%;">
					<a href="#7" class="ism__location-link" aria-controls="7" aria-expanded="false">
						<span class="trigger">
							
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
							
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
						</span>
						<span class="ism__location-name"><span>CWU Wenatchee</span></span>
					</a>
				</li>
				<li class="ism__location-item " style="left: 20.0%; top: 50.3%;">
					<a href="#8" class="ism__location-link" aria-controls="8" aria-expanded="false">
						<span class="trigger">
							
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
							
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
						</span>
						<span class="ism__location-name"><span>CWU Joint Base Lewis-McChord</span></span>
					</a>
				</li>
			</ul>
			
		</div>

		<div class="ism__content">

			<h2 class="ism__title font-h2 show-for-large" aria-hidden="true">H2 Campus and Center Locations</h2>

			<ul class="ism__accordion accordion" data-accordion data-deep-link="true" data-multi-expand="false" data-allow-all-closed="false">

				<li class="ism__item accordion-item is-active" data-accordion-item>
		
					<a href="#0" class="ism__heading accordion-title">
						<span class="ism__label font-h4">CWU Ellensburg</span>
						<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
					</a>

					<div class="ism__accordion-content accordion-content" data-tab-content id="0">

						<h3 class="ism__label font-h4 show-for-large">CWU Ellensburg</h3>

						<ul class="ism__contact-list">
							<li class="ism__contact-item"><a href="tel:0000000000" class="menu menu--tertiary">
	<span class="text">000-000-0000</span>
	
</a>
</li>
							<li class="ism__contact-item"><a href="mailto:email@cwu.edu" class="menu menu--tertiary">
	<span class="text">email@cwu.edu</span>
	
</a>
</li>
						</ul>

						<p class="ism__copy">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						
						<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
					
					</div>

				</li>
				<li class="ism__item accordion-item" data-accordion-item>
		
					<a href="#1" class="ism__heading accordion-title">
						<span class="ism__label font-h4">CWU Lynnwood</span>
						<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
					</a>

					<div class="ism__accordion-content accordion-content" data-tab-content id="1">

						<h3 class="ism__label font-h4 show-for-large">CWU Lynnwood</h3>

						<ul class="ism__contact-list">
							<li class="ism__contact-item"><a href="tel:0000000000" class="menu menu--tertiary">
	<span class="text">000-000-0000</span>
	
</a>
</li>
							<li class="ism__contact-item"><a href="mailto:email@cwu.edu" class="menu menu--tertiary">
	<span class="text">email@cwu.edu</span>
	
</a>
</li>
						</ul>

						<p class="ism__copy">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						
						<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
					
					</div>

				</li>
				<li class="ism__item accordion-item" data-accordion-item>
		
					<a href="#2" class="ism__heading accordion-title">
						<span class="ism__label font-h4">CWU Sammamish</span>
						<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
					</a>

					<div class="ism__accordion-content accordion-content" data-tab-content id="2">

						<h3 class="ism__label font-h4 show-for-large">CWU Sammamish</h3>

						<ul class="ism__contact-list">
							<li class="ism__contact-item"><a href="tel:0000000000" class="menu menu--tertiary">
	<span class="text">000-000-0000</span>
	
</a>
</li>
							<li class="ism__contact-item"><a href="mailto:email@cwu.edu" class="menu menu--tertiary">
	<span class="text">email@cwu.edu</span>
	
</a>
</li>
						</ul>

						<p class="ism__copy">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						
						<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
					
					</div>

				</li>
				<li class="ism__item accordion-item" data-accordion-item>
		
					<a href="#3" class="ism__heading accordion-title">
						<span class="ism__label font-h4">CWU Des Moines</span>
						<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
					</a>

					<div class="ism__accordion-content accordion-content" data-tab-content id="3">

						<h3 class="ism__label font-h4 show-for-large">CWU Des Moines</h3>

						<ul class="ism__contact-list">
							<li class="ism__contact-item"><a href="tel:0000000000" class="menu menu--tertiary">
	<span class="text">000-000-0000</span>
	
</a>
</li>
							<li class="ism__contact-item"><a href="mailto:email@cwu.edu" class="menu menu--tertiary">
	<span class="text">email@cwu.edu</span>
	
</a>
</li>
						</ul>

						<p class="ism__copy">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						
						<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
					
					</div>

				</li>
				<li class="ism__item accordion-item" data-accordion-item>
		
					<a href="#4" class="ism__heading accordion-title">
						<span class="ism__label font-h4">CWU Moses Lake</span>
						<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
					</a>

					<div class="ism__accordion-content accordion-content" data-tab-content id="4">

						<h3 class="ism__label font-h4 show-for-large">CWU Moses Lake</h3>

						<ul class="ism__contact-list">
							<li class="ism__contact-item"><a href="tel:0000000000" class="menu menu--tertiary">
	<span class="text">000-000-0000</span>
	
</a>
</li>
							<li class="ism__contact-item"><a href="mailto:email@cwu.edu" class="menu menu--tertiary">
	<span class="text">email@cwu.edu</span>
	
</a>
</li>
						</ul>

						<p class="ism__copy">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						
						<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
					
					</div>

				</li>
				<li class="ism__item accordion-item" data-accordion-item>
		
					<a href="#5" class="ism__heading accordion-title">
						<span class="ism__label font-h4">CWU Pierce County</span>
						<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
					</a>

					<div class="ism__accordion-content accordion-content" data-tab-content id="5">

						<h3 class="ism__label font-h4 show-for-large">CWU Pierce County</h3>

						<ul class="ism__contact-list">
							<li class="ism__contact-item"><a href="tel:0000000000" class="menu menu--tertiary">
	<span class="text">000-000-0000</span>
	
</a>
</li>
							<li class="ism__contact-item"><a href="mailto:email@cwu.edu" class="menu menu--tertiary">
	<span class="text">email@cwu.edu</span>
	
</a>
</li>
						</ul>

						<p class="ism__copy">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						
						<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
					
					</div>

				</li>
				<li class="ism__item accordion-item" data-accordion-item>
		
					<a href="#6" class="ism__heading accordion-title">
						<span class="ism__label font-h4">CWU Yakima</span>
						<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
					</a>

					<div class="ism__accordion-content accordion-content" data-tab-content id="6">

						<h3 class="ism__label font-h4 show-for-large">CWU Yakima</h3>

						<ul class="ism__contact-list">
							<li class="ism__contact-item"><a href="tel:0000000000" class="menu menu--tertiary">
	<span class="text">000-000-0000</span>
	
</a>
</li>
							<li class="ism__contact-item"><a href="mailto:email@cwu.edu" class="menu menu--tertiary">
	<span class="text">email@cwu.edu</span>
	
</a>
</li>
						</ul>

						<p class="ism__copy">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						
						<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
					
					</div>

				</li>
				<li class="ism__item accordion-item" data-accordion-item>
		
					<a href="#7" class="ism__heading accordion-title">
						<span class="ism__label font-h4">CWU Wenatchee</span>
						<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
					</a>

					<div class="ism__accordion-content accordion-content" data-tab-content id="7">

						<h3 class="ism__label font-h4 show-for-large">CWU Wenatchee</h3>

						<ul class="ism__contact-list">
							<li class="ism__contact-item"><a href="tel:0000000000" class="menu menu--tertiary">
	<span class="text">000-000-0000</span>
	
</a>
</li>
							<li class="ism__contact-item"><a href="mailto:email@cwu.edu" class="menu menu--tertiary">
	<span class="text">email@cwu.edu</span>
	
</a>
</li>
						</ul>

						<p class="ism__copy">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						
						<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
					
					</div>

				</li>
				<li class="ism__item accordion-item" data-accordion-item>
		
					<a href="#8" class="ism__heading accordion-title">
						<span class="ism__label font-h4">CWU Joint Base Lewis-McChord</span>
						<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use xlink:href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use xlink:href="#brei-icon-minus"></use>
			</svg>
		
</span>
					</a>

					<div class="ism__accordion-content accordion-content" data-tab-content id="8">

						<h3 class="ism__label font-h4 show-for-large">CWU Joint Base Lewis-McChord</h3>

						<ul class="ism__contact-list">
							<li class="ism__contact-item"><a href="tel:0000000000" class="menu menu--tertiary">
	<span class="text">000-000-0000</span>
	
</a>
</li>
							<li class="ism__contact-item"><a href="mailto:email@cwu.edu" class="menu menu--tertiary">
	<span class="text">email@cwu.edu</span>
	
</a>
</li>
						</ul>

						<p class="ism__copy">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						
						<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
					
					</div>

				</li>

			</ul>

			<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">Primary Button</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>

		</div>

		

	</div>

</section>





	<ul class="accordions__accordion accordion"
	

		
	</ul>


