

<section class="headline headline--news">

	<div class="headline__wrapper wrapper grid-x grid-margin-x">

		<div class="headline__title cell xsmall-12 large-7 xlarge-6">

			<h1 class="font-h1">H1 Headline Two Lines Lorem Ipsum Dolor Sit amet Consectetur</h1>
			
			<ul class="headline__info">
				<li class="headline__item">Month 00, 0000</li>
				<li class="headline__item">By Firstname Lastname</li>
			</ul>
			
		</div>

		<img src="https://via.placeholder.com/838x627" alt="[image alt text]" width="838" height="627" class="headline__image cell xsmall-12 large-4 large-offset-1 xlarge-offset-2">
		
	</div>
	
</section>
