

<section class="headline headline--faculty">

	<div class="headline__wrapper wrapper grid-x grid-margin-x">

		<div class="headline__title cell xsmall-12 large-7 xlarge-6">

			<h1 class="font-specialty-2">Detail Faculty First & Lastname</h1>
			
 			<p>Faculty Title Lorem Ipsum Dolor Sit Amet Consectetur</p>
			
		</div>

		<img src="https://picsum.photos/500/500" alt="[image alt text]" width="500" height="500" class="headline__image cell xsmall-12 large-4 large-offset-1 xlarge-offset-2">
		
	</div>
	
</section>
