

<section class="masthead masthead--landing masthead--video">


	<figure class="masthead__gallery">
		<button class="masthead__btn masthead__btn--is-playing btn btn--small" aria-label="Pause video" aria-pressed="false">
			<span class="show-for-sr">Pause video</span>
			<span class="btn__icon">
				
			<svg class="brei-icon brei-icon-play" focusable="false">
				<use xlink:href="#brei-icon-play"></use>
			</svg>
		
				
			<svg class="brei-icon brei-icon-pause" focusable="false">
				<use xlink:href="#brei-icon-pause"></use>
			</svg>
		
			</span>
		</button>

		<video autoplay loop muted playsinline preload="auto" class="masthead__video" poster="https://picsum.photos/1920/1080">
			<source src="/video/alb_tvn0212_1080p.mp4" type="video/mp4" />
		</video>

	</figure>

	<div class="masthead__wrapper wrapper grid-x grid-margin-x">

		<div class="masthead__title cell xsmall-12 large-8">

			<h1 class="font-specialty-2">Specialty Headline Lorem Ipsum</h1>
			
			
			
		</div>
		
	</div>
	
</section>
