

<section class="masthead masthead--detail masthead--gallery">

	<figure class="masthead__gallery">
		<img src="https://picsum.photos/seed/1/1920/823" alt="[image alt text]" class="masthead__image" width="1920" height="823" /><img src="https://picsum.photos/seed/2/1920/823" alt="[image alt text]" class="masthead__image" width="1920" height="823" /><img src="https://picsum.photos/seed/3/1920/823" alt="[image alt text]" class="masthead__image" width="1920" height="823" />
		
	</figure>


	<div class="masthead__wrapper wrapper grid-x grid-margin-x">

		<div class="masthead__title cell xsmall-12 large-7">

			<h1 class="font-specialty-2">Specialty Headline Lorem Ipsum</h1>
			
			
			
		</div>
		
	</div>
	
</section>
