

<section class="media media--narrow component">

	<div class="media__content">

		<h2 class="media__heading font-h2">Media H2 Headline Ipsum Dolor Sit Amet Consectetur</h2>

		<p class="media__copy font-body">Structured body copy 150 characters lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

		<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>

	</div>

	<div class="media__items">
		
		<figure class="video">

	<img src="https://picsum.photos/1264/711" alt="[image alt text]" class="video__poster" width="1264" height="711" />
	
	<a href="https://www.youtube.com/watch?v=J5OSRpRyl6g" class="btn btn--xlarge play-button">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-play" focusable="false">
				<use href="#brei-icon-play"></use>
			</svg>
		</span>	
		<span class="show-for-sr">Play video</span>
</a>
	
</figure>
	</div>

</section>
