

<section class="media media--wide component">
	<div class="media__wrapper wrapper">
		<div class="grid-x grid-margin-x">

			<div class="media__content cell xsmall-12 large-6 xlarge-6">

				<h2 class="media__heading font-h2">Media H2 Headline Ipsum Dolor Sit Amet Consectetur</h2>

				<p class="media__copy">Structured body copy 150 characters lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

				<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>

			</div>

			<div class="media__items cell xsmall-12 large-6 xlarge-6">
				 <div class="gallery">

	<div class="gallery__items">

		<figure class="gallery__image">
		
			<img src="https://via.placeholder.com/836x627/f00/fff" alt="[image alt text]" width="836" height="627" />

			<figcaption>Optional caption 100 characters lorem ipsum dolor sit amet consectetur adipscing elit sed do eiusmo.</figcaption>

		</figure>
		<figure class="gallery__image">
		
			<img src="https://via.placeholder.com/836x627/0f0/fff" alt="[image alt text]" width="836" height="627" />

			<figcaption>Optional caption 100 characters lorem ipsum dolor sit amet consectetur adipscing elit sed do eiusmo.</figcaption>

		</figure>
		<figure class="gallery__image">
		
			<img src="https://via.placeholder.com/836x627/00f/fff" alt="[image alt text]" width="836" height="627" />

			

		</figure>

	</div>

	<div class="gallery__caption" aria-hidden="true"></div>

</div>
				 
			</div>

		</div>
	</div>
</section>
