

<nav id="secondary-navigation-mobile" class="nav-secondary">
	<div class="wrapper">

	<ul class="nav-secondary__list accordion" data-accordion data-multi-expand="false" data-allow-all-closed="true">
		<li class="nav-secondary__item accordion-item" data-accordion-item>
			<a href="#nav-secondary-mobile-0" class="nav-secondary__heading accordion-title">
			   <span class="nav-secondary__label">Resources for:</span>
			   
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		
			</a>

			<div class="nav-secondary__content accordion-content" data-tab-content id="nav-secondary-mobile-0">
				 <ul class="nav-secondary__children">
					<li class="nav-secondary__child">
						<a href="#">Prospective Students</a>
					</li>
					<li class="nav-secondary__child">
						<span>Current Students</span>
						<ul class="nav-secondary__grandchildren">
							<li class="nav-secondary__grandchild">
								<a href="#">MyCWU</a>
							</li>
							<li class="nav-secondary__grandchild">
								<a href="#">Email/Outlook</a>
							</li>
						</ul>
					</li>
					<li class="nav-secondary__child">
						<a href="#">Parents & Families</a>
					</li>
					<li class="nav-secondary__child">
						<a href="#">CWU Alumni</a>
					</li>
					<li class="nav-secondary__child">
						<a href="#">Conference Services</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Apply</span>
	
</a>

		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Visit</span>
	
</a>

		</li>
		<li class="nav-secondary__item">
			<a href="#" class="menu menu--audience">
	<span class="text">Give</span>
	
</a>

		</li>
	</ul>


	</div>
</nav>
