

<nav id="primary-navigation" class="nav-primary">
	<div class="wrapper">

	<ul class="nav-primary__list accordion" data-accordion data-multi-expand="false" data-allow-all-closed="true">
		<li class="nav-primary__item accordion-item" data-accordion-item>
			<a href="#nav-primary-0" class="nav-primary__heading accordion-title">
			   <span class="nav-primary__label">About CWU</span>
			   <span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
</span>
			</a>

			<div class="nav-primary__content accordion-content" data-tab-content id="nav-primary-0">
				 <ul class="nav-primary__children">
				 	<li class="nav-primary__child">
						<a href="#" class="menu menu--primary">
	<span class="text">About CWU</span>
	
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">History, Vision, & Values</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">University Leadership</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Campus Locations</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Offices</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Directory</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Local Community</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Media Resources</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
				</ul>
			</div>
		</li>
		<li class="nav-primary__item accordion-item" data-accordion-item>
			<a href="#nav-primary-1" class="nav-primary__heading accordion-title">
			   <span class="nav-primary__label">Admissions &amp; Aid</span>
			   <span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
</span>
			</a>

			<div class="nav-primary__content accordion-content" data-tab-content id="nav-primary-1">
				 <ul class="nav-primary__children">
				 	<li class="nav-primary__child">
						<a href="#" class="menu menu--primary">
	<span class="text">Admissions & Aid</span>
	
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Apply Now</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Visit Campus</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Campus Locations</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Tuition & Fees</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Financial Aid Scholarships</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Account Services</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Preview Day</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Admitted Students</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
				</ul>
			</div>
		</li>
		<li class="nav-primary__item accordion-item" data-accordion-item>
			<a href="#nav-primary-2" class="nav-primary__heading accordion-title">
			   <span class="nav-primary__label">Academics</span>
			   <span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
</span>
			</a>

			<div class="nav-primary__content accordion-content" data-tab-content id="nav-primary-2">
				 <ul class="nav-primary__children">
				 	<li class="nav-primary__child">
						<a href="#" class="menu menu--primary">
	<span class="text">Academics</span>
	
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Explore Programs</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Academic Colleges</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Specialized Programs</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Research</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Academic Resources</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Academic Calendar</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Library</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
				</ul>
			</div>
		</li>
		<li class="nav-primary__item accordion-item" data-accordion-item>
			<a href="#nav-primary-3" class="nav-primary__heading accordion-title">
			   <span class="nav-primary__label">Student Life</span>
			   <span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
</span>
			</a>

			<div class="nav-primary__content accordion-content" data-tab-content id="nav-primary-3">
				 <ul class="nav-primary__children">
				 	<li class="nav-primary__child">
						<a href="#" class="menu menu--primary">
	<span class="text">Student Life</span>
	
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Campus Housing</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Diversity & Inclusion</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Campus Dining</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Union</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Government</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Clubs & Organizations</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Fitness & Recreation</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Health & Wellness Services</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Support</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
					<li class="nav-primary__child">
						<a href="#" class="menu menu--secondary menu--with-icon">
	<span class="text">Student Employment & Volunteer Opportunities</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-chevron" focusable="false">
				<use href="#brei-icon-chevron"></use>
			</svg>
		</span>
</a>

					</li>
				</ul>
			</div>
		</li>
		<li class="nav-primary__item">
			<a href="#" class="menu menu--primary">
	<span class="text">Athletics</span>
	
</a>

		</li>
	</ul>

</nav>
