

<nav id="legal-navigation" class="nav-legal">

	<ul class="nav-legal__list">
		<li class="nav-legal__item"><a href="#" class="menu menu--audience">
	<span class="text">Policies & Procedures</span>
	
</a>
</li>
		<li class="nav-legal__item"><a href="#" class="menu menu--audience">
	<span class="text">Privacy</span>
	
</a>
</li>
		<li class="nav-legal__item"><a href="#" class="menu menu--audience">
	<span class="text">Accessibility</span>
	
</a>
</li>
		<li class="nav-legal__item"><a href="#" class="menu menu--audience">
	<span class="text">Emergency Information</span>
	
</a>
</li>
		<li class="nav-legal__item"><a href="#" class="menu menu--audience">
	<span class="text">AA/EEO/Title X/Veteran/Disability Employer</span>
	
</a>
</li>
	</ul>

</nav>
