

<nav id="footer-navigation-one" class="nav-footer">

	<ul class="nav-footer__list">
		<li class="nav-footer__item"><a href="#" class="menu ">
	<span class="text">CWU Events</span>
	
</a>
</li>
		<li class="nav-footer__item"><a href="#" class="menu ">
	<span class="text">CWU News</span>
	
</a>
</li>
		<li class="nav-footer__item"><a href="#" class="menu ">
	<span class="text">CWU Libraries</span>
	
</a>
</li>
		<li class="nav-footer__item"><a href="#" class="menu ">
	<span class="text">Wildcat Shop</span>
	
</a>
</li>
	</ul>

</nav>
