

<nav id="rail-navigation" class="nav-rail component">

	<h2 class="nav-rail__title font-h4">Section Headline</h2>
	
	<hr />

	<ul class="nav-rail__list">
		<li class="nav-rail__item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Child Page Lorem Ipsum</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li>
		<li class="nav-rail__item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Child Page Lorem Ipsum</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li>
		<li class="nav-rail__item"><a href="#" class="menu menu--tertiary" tabindex="-1" >
	<span class="text">Current Page Lorem Ipsum</span>
	
</a>
</li>
		<li class="nav-rail__item"><a href="#" class="menu menu--tertiary menu--with-icon">
	<span class="text">Child Page Lorem Ipsum on Two Lines</span>
	<span class="menu__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>
</a>
</li>
	</ul>

</nav>
