

<section class="feed feed--home feed--news feed--dark animateOnce">

	<div class="feed__wrapper wrapper">

		<div class="feed__title">

			<h2 class="feed__heading font-h1"><span>CWU News</span></h2>

			<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">View All News</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>
		
		</div>

		<div class="feed__list">

			<div class="card card--news" itemscope itemtype="https://schema.org/NewsArticle">

	<figure class="card__figure">
		<img src="/img/photos/heart.jpg" alt="CWU students walking on campus" class="card__image" width="836" height="628" />
	</figure>

	<div class="card__content">
	 
		<h3 class="card__heading font-h4" itemprop="name">From the President: Heart of Higher Education Conference 2023</h3>
		 
		<p class="card__info"><span itemprop="dateline">June 27, 2023</span></p>
		<p class="card__info">by <span itemprop="author">Jim Wohlpart</span></p>
		 
		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Read More</span>
</p>
		 
	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Read more about 'From the President: Heart of Higher Education Conference 2023'</span></a>

</div><div class="card card--news" itemscope itemtype="https://schema.org/NewsArticle">

	<figure class="card__figure">
		<img src="/img/photos/were-leadership.jpg" alt="the CWU College of Business building" class="card__image" width="836" height="628" />
	</figure>

	<div class="card__content">
	 
		<h3 class="card__heading font-h4" itemprop="name">WERE leadership training program building momentum in 2023</h3>
		 
		<p class="card__info"><span itemprop="dateline">June 27, 2023</span></p>
		<p class="card__info">by <span itemprop="author">David Leder</span></p>
		 
		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Read More</span>
</p>
		 
	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Read more about 'WERE leadership training program building momentum in 2023'</span></a>

</div><div class="card card--news" itemscope itemtype="https://schema.org/NewsArticle">

	<figure class="card__figure">
		<img src="/img/photos/wildcat-football.jpg" alt="the CWU Wildcats football team" class="card__image" width="836" height="628" />
	</figure>

	<div class="card__content">
	 
		<h3 class="card__heading font-h4" itemprop="name">Wildcat Football Once Again Partners with Be The Match</h3>
		 
		<p class="card__info"><span itemprop="dateline">June 27, 2023</span></p>
		<p class="card__info">by <span itemprop="author">Jacob Thompson</span></p>
		 
		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Read More</span>
</p>
		 
	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Read more about 'Wildcat Football Once Again Partners with Be The Match'</span></a>

</div>

		</div>

		<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">View All News</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>

	</div>
</section>
