

<main id="main" class="aggregate main">

	<section class="masthead masthead--aggregate">



	<div class="masthead__wrapper wrapper grid-x grid-margin-x">

		<div class="masthead__title cell xsmall-12">

			<h1 class="font-specialty-2">News Aggregate Headline</h1>
			
			
			
		</div>
		
	</div>
	
</section>

	<div class="wrapper">
	
		<div class="grid-x grid-margin-x">

			<div class="rail cell xsmall-12 large-4">

				<section class="filter component">

	<h2 class="filter__title font-h4">News Filters</h2>
	<hr />

	<div class="filter__set">

		<ul class="filter__accordion accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

			<li class="filter__item filter__item--checkboxes  accordion-item" data-accordion-item>

				<a href="#accordion0" class="filter__heading accordion-title">
					<span class="filter__label">Type</span>
					<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
</span>
				</a>

				<div class="filter__content accordion-content" data-tab-content id="accordion0">
					 <fieldset>
	<legend class="show-for-sr">type</legend>
	<div class="form__field">
		<input id="type-0" name="type[]" type="checkbox" value="Academic Programs" />
		<label for="type-0">
			Academic Programs
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="type-1" name="type[]" type="checkbox" value="Alumni" />
		<label for="type-1">
			Alumni
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="type-2" name="type[]" type="checkbox" value="Athletics" />
		<label for="type-2">
			Athletics
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="type-3" name="type[]" type="checkbox" value="Faculty & Staff" />
		<label for="type-3">
			Faculty & Staff
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="type-4" name="type[]" type="checkbox" value="Student Life" />
		<label for="type-4">
			Student Life
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="type-5" name="type[]" type="checkbox" value="University Leadership" />
		<label for="type-5">
			University Leadership
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
</fieldset>

					 
				</div>

			</li>
			<li class="filter__item filter__item--checkboxes  accordion-item" data-accordion-item>

				<a href="#accordion1" class="filter__heading accordion-title">
					<span class="filter__label">Year</span>
					<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
</span>
				</a>

				<div class="filter__content accordion-content" data-tab-content id="accordion1">
					 <fieldset>
	<legend class="show-for-sr">year</legend>
	<div class="form__field">
		<input id="year-0" name="year[]" type="checkbox" value="2023" />
		<label for="year-0">
			2023
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="year-1" name="year[]" type="checkbox" value="2022" />
		<label for="year-1">
			2022
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="year-2" name="year[]" type="checkbox" value="2021" />
		<label for="year-2">
			2021
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
</fieldset>

					 
				</div>

			</li>
			<li class="filter__item filter__item--checkboxes  accordion-item" data-accordion-item>

				<a href="#accordion2" class="filter__heading accordion-title">
					<span class="filter__label">Month</span>
					<span class="trigger">
	
			<svg class="brei-icon brei-icon-plus" focusable="false">
				<use href="#brei-icon-plus"></use>
			</svg>
		
	
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		
</span>
				</a>

				<div class="filter__content accordion-content" data-tab-content id="accordion2">
					 <fieldset>
	<legend class="show-for-sr">month</legend>
	<div class="form__field">
		<input id="month-0" name="month[]" type="checkbox" value="01" />
		<label for="month-0">
			January
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="month-1" name="month[]" type="checkbox" value="02" />
		<label for="month-1">
			February
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="month-2" name="month[]" type="checkbox" value="03" />
		<label for="month-2">
			March
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="month-3" name="month[]" type="checkbox" value="04" />
		<label for="month-3">
			April
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="month-4" name="month[]" type="checkbox" value="05" />
		<label for="month-4">
			May
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="month-5" name="month[]" type="checkbox" value="06" />
		<label for="month-5">
			June
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="month-6" name="month[]" type="checkbox" value="07" />
		<label for="month-6">
			July
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="month-7" name="month[]" type="checkbox" value="08" />
		<label for="month-7">
			August
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="month-8" name="month[]" type="checkbox" value="09" />
		<label for="month-8">
			September
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="month-9" name="month[]" type="checkbox" value="10" />
		<label for="month-9">
			October
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="month-10" name="month[]" type="checkbox" value="11" />
		<label for="month-10">
			November
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
	<div class="form__field">
		<input id="month-11" name="month[]" type="checkbox" value="12" />
		<label for="month-11">
			December
			<span class="checkbox" role="none">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</span>
		</label>
	</div>
</fieldset>

					 
				</div>

			</li>

		</ul>

	</div>

</section>

			</div>

			<div class="aggregate__content content cell xsmall-12 large-8">

				<div class="aggregate__set">

					<div class="keyword">
	<div class="form__field form__field--is-search">
	<input id="search" name="search" type="search" required="required" placeholder="Search News">
	<label for="search">Search News</label>
	<button type="submit" class="search-button">
		<span class="show-for-sr">Search</span>
		
			<svg class="brei-icon brei-icon-search" focusable="false">
				<use href="#brei-icon-search"></use>
			</svg>
		
	</button>
</div>

</div>


					<h2 class="show-for-sr">Featured News</h2>

					<div class="aggregate__feature">
						<div class="card card--news" itemscope itemtype="https://schema.org/NewsArticle">

	<figure class="card__figure">
		<img src="https://picsum.photos/836/628" alt="[photo alt text]" class="card__image" width="836" height="628" />
	</figure>

	<div class="card__content">
	 
		<h3 class="card__heading font-h4" itemprop="name">News Item H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur</h3>
		 
		<p class="card__info"><span itemprop="dateline">November 07, 2023</span></p>
		<p class="card__info">by <span itemprop="author">Firstname Lastname</span></p>
		 
		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>
		 
	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Read more about 'News Item H4 Headline Lorem Ipsum Dolor Sit Amet Consectetur'</span></a>

</div>
					</div>

					<div class="aggregate__info">

						<div class="aggregate__chips"></div>

						<a href="#" class="aggregate__reset">Clear All</a>

						<div class="aggregate__count"></div>

					</div>
					
					<div class="aggregate__loading">

						<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
							<path opacity="0.2" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"></path>
							<path d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z">
								<animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="1s" repeatCount="indefinite"></animateTransform>
							</path>
 						 </svg>

					</div>
					
					<h2 class="show-for-sr">Search Results</h2>
					
					<div class="aggregate__results" data-src="/data/news.json"></div>
					
					<div role="navigation" class="aggregate__pagination"></div>

				</div>	

			</div>
			
		</div>
	</div>

</main>
