

<div class="next-steps component">
	<div class="next-steps__inner">

		<h2 class="next-steps__heading font-h2">Take the Next Steps</h2>
	
		<hr />

		<div class="next-steps__grid">

			 <div class="next-steps__item">

			 	<img src="/img/icons/atom.svg" alt="[icon alt text]" class="next-steps__image">

				<h3 class="next-steps__subheading font-h3">Visit Central</h3>

				<ul class="next-steps__list">

					<li class="next-steps__list-item">
						<a href="https://admissions.cwu.edu/portal/campus_tours#TIPS%20ANCHOR" class="btn btn--cta">
		<span class="text">Schedule an In-Person Tour</span>
</a>
					</li>
					<li class="next-steps__list-item">
						<a href="https://tour.concept3d.com/share/vgwzn-QUO/stop/1" class="btn btn--cta">
		<span class="text">Explore Campus Virtually</span>
</a>
					</li>

				</ul>

			</div>
			 <div class="next-steps__item">

			 	<img src="/img/icons/book.svg" alt="[icon alt text]" class="next-steps__image">

				<h3 class="next-steps__subheading font-h3">Admissions & Aid</h3>

				<ul class="next-steps__list">

					<li class="next-steps__list-item">
						<a href="https://cwu-staging.ewaycorphosting.com/admissions-aid/apply/index.php" class="btn btn--cta">
		<span class="text">Apply to CWU</span>
</a>
					</li>
					<li class="next-steps__list-item">
						<a href="https://cwu-staging.ewaycorphosting.com/admissions-aid/cost-aid-value.php" class="btn btn--cta">
		<span class="text">Cost, Aid, Value</span>
</a>
					</li>

				</ul>

			</div>
			 <div class="next-steps__item">

			 	<img src="/img/icons/compass.svg" alt="[icon alt text]" class="next-steps__image">

				<h3 class="next-steps__subheading font-h3">Interested in CWU?</h3>

				<ul class="next-steps__list">

					<li class="next-steps__list-item">
						<a href="https://admissions.cwu.edu/register/request_info" class="btn btn--cta">
		<span class="text">Request Information</span>
</a>
					</li>

				</ul>

			</div>

		</div>

	</div>
</div>
