

<div class="next-steps component">

	<h2 class="next-steps__heading font-h2">Take the Next Steps</h2>
	
	<hr />

	<div class="next-steps__grid">

		<div class="next-steps__item">

			<img src="/img/icons/atom.svg" alt="[icon alt text]" class="next-steps__image">

			<div class="next-steps__content">
		
				<h3 class="next-steps__subheading font-h5">Visit Central</h3>

				<ul class="next-steps__list">
				
					<li class="next-steps__list-item"><a href="#" class="next-steps__link">Schedule a Tour</a></li><li class="next-steps__list-item"><a href="#" class="next-steps__link">Explore Campus Virtually</a></li>
					
				</ul>
				
			</div>

		</div>
		<div class="next-steps__item">

			<img src="/img/icons/book.svg" alt="[icon alt text]" class="next-steps__image">

			<div class="next-steps__content">
		
				<h3 class="next-steps__subheading font-h5">Admissions</h3>

				<ul class="next-steps__list">
				
					<li class="next-steps__list-item"><a href="#" class="next-steps__link">Apply to CWU</a></li><li class="next-steps__list-item"><a href="#" class="next-steps__link">Cost, Aid, Value</a></li>
					
				</ul>
				
			</div>

		</div>
		<div class="next-steps__item">

			<img src="/img/icons/compass.svg" alt="[icon alt text]" class="next-steps__image">

			<div class="next-steps__content">
		
				<h3 class="next-steps__subheading font-h5">Interested?</h3>

				<ul class="next-steps__list">
				
					<li class="next-steps__list-item"><a href="#" class="next-steps__link">Request Information</a></li>
					
				</ul>
				
			</div>

		</div>

	</div>

</div>


