

<section class="feed feed--narrow feed--program component">

	<h2 class="feed__heading font-h2">Program Feed H2 Headline Lorem Ipsum</h2>

	<div class="feed__list">

		<div class="card card--program">

	<figure class="card__figure">
		<img src="https://picsum.photos/500/500" alt="[photo alt text]" class="card__image" width="500" height="500" />
	</figure>

	<div class="card__content">

		<p class="card__type">Program Type</p>
	 
		<h3 class="card__heading font-h3">Program Title 1 H3 Lorem Ipsum Dolor Sit Amet</h3>

		<p class="card__info">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
		 
		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>

	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Learn  more about 'Program Title 1 H3 Lorem Ipsum Dolor Sit Amet'</span></a>

</div><div class="card card--program">

	<figure class="card__figure">
		<img src="https://picsum.photos/500/500" alt="[photo alt text]" class="card__image" width="500" height="500" />
	</figure>

	<div class="card__content">

		<p class="card__type">Program Type</p>
	 
		<h3 class="card__heading font-h3">Program Title 2 H3 Lorem Ipsum Dolor Sit Amet</h3>

		<p class="card__info">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
		 
		<p aria-hidden="true" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</p>

	</div>

	<a href="#" class="card__link" itemprop="url"><span class="show-for-sr">Learn  more about 'Program Title 2 H3 Lorem Ipsum Dolor Sit Amet'</span></a>

</div>

	</div>

	<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">Primary Button</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use xlink:href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>

</section>
