

<section class="questions">
	<div class="questions__wrapper wrapper">
	
		<div class="questions__content">

			<h2 class="questions__heading font-h1">Have Questions?</h2>

		</div>

		<ul class="questions__grid">

			<li class="questions__item">
				<a href="#" class="questions__link open-chat" aria-label="Click here to open the library chat window">

					
			<svg class="brei-icon brei-icon-chat" focusable="false">
				<use href="#brei-icon-chat"></use>
			</svg>
		

					<p class="questions__copy">24x7 Chat</p>

				</a>
			</li>
			<li class="questions__item">
				<a href="#" class="questions__link">

					
			<svg class="brei-icon brei-icon-email" focusable="false">
				<use href="#brei-icon-email"></use>
			</svg>
		

					<p class="questions__copy">Email</p>

				</a>
			</li>
			<li class="questions__item">
				<a href="#" class="questions__link">

					
			<svg class="brei-icon brei-icon-appointment" focusable="false">
				<use href="#brei-icon-appointment"></use>
			</svg>
		

					<p class="questions__copy">Appointments</p>

				</a>
			</li>
			<li class="questions__item">
				<a href="#" class="questions__link">

					
			<svg class="brei-icon brei-icon-call" focusable="false">
				<use href="#brei-icon-call"></use>
			</svg>
		

					<p class="questions__copy">Phone</p>

				</a>
			</li>
			
		</ul>
		
	</div>
</section>
