

<section class="quick quick--narrow component">

	<h2 class="quick__heading font-h2">Quick Links H2 Headline Lorem Ipsum</h2>

	<ul class="quick__list">
		<li class="quick__item"><a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button 1</span>
</a></li><li class="quick__item"><a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button 2</span>
</a></li><li class="quick__item"><a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button 3</span>
</a></li><li class="quick__item"><a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button 4</span>
</a></li>
	</ul>

</section>
