

<fieldset>
	
	<div class="form__field form__field--radio">
		<input id="radio-btn" name="radio" type="radio" value="1" />
		<label for="radio-btn">
			Lorem Radio
			<span class="radio-button" role="none">
				<span class="radio-button__center"></span>
			</span>
		</label>
	</div>
	<div class="form__field form__field--radio">
		<input id="radio-btn-2" name="radio" type="radio" value="2" />
		<label for="radio-btn-2">
			Lorem Radio Two
			<span class="radio-button" role="none">
				<span class="radio-button__center"></span>
			</span>
		</label>
	</div>
</fieldset>

