

<section class="rail-contact component">

	<h2 class="rail-contact__title font-h4">Contact Headline</h2>

	<hr />

	<h3 class="rail-contact__heading">Name or Office Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing elit Sed Do</h3>

	<p class="rail-contact__address">Address Line One Lorem Ipsum<br />Address Line Two Lorem Ipsum<br />Address Line Three Lorem Ipsum</p>

	<ul class="rail-contact__list">
	</ul>

	<div class="rail-contact__optional">Optional Office Fields to Include Information Such as Pronouns, Name Pronunciation, Office Hours Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit Sed Do</div>

	<ul class="social">
	<li class="social__item"><a href="#" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-facebook" focusable="false">
				<use xlink:href="#brei-icon-facebook"></use>
			</svg>
		</span>	
</a></li>
	<li class="social__item"><a href="#" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-twitter" focusable="false">
				<use xlink:href="#brei-icon-twitter"></use>
			</svg>
		</span>	
</a></li>
	<li class="social__item"><a href="#" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-instagram" focusable="false">
				<use xlink:href="#brei-icon-instagram"></use>
			</svg>
		</span>	
</a></li>
	<li class="social__item"><a href="#" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-linkedin" focusable="false">
				<use xlink:href="#brei-icon-linkedin"></use>
			</svg>
		</span>	
</a></li>
	<li class="social__item"><a href="#" class="btn btn--social">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-youtube" focusable="false">
				<use xlink:href="#brei-icon-youtube"></use>
			</svg>
		</span>	
</a></li>
</ul>


</section>
