

<div class="search-desktop">

	<button class="search-desktop__toggle" aria-controls="search-form-desktop" aria-pressed="false" aria-label="Open site search">
		
			<svg class="brei-icon brei-icon-search" focusable="false">
				<use href="#brei-icon-search"></use>
			</svg>
		
		
			<svg class="brei-icon brei-icon-close" focusable="false">
				<use href="#brei-icon-close"></use>
			</svg>
		
	</button>

	<form id="search-form-desktop" class="search-desktop__form" method="get" action="" hidden>
		<label class="show-for-sr" for="q">What're you looking for?</label>
		<input name="query" id="q-desktop" class="search-desktop__input" type="search" placeholder="What're you looking for?" aria-label="Search" tabindex="-1">
		<button class="search-desktop__submit" tabindex="-1" type="submit">Submit</button>

	</form>

</div>
