

<section class="shortcut component animateOnce">
	<div class="shortcut__wrapper wrapper">
	
		<div class="shortcut__content">

			<h2 class="shortcut__heading font-h1">You Belong at Central</h2>
			<hr />

		</div>

		<ul class="shortcut__grid">

			<li class="shortcut__item">
				<a href="#1" class="shortcut__link">

					<figure class="shortcut__figure">
						<img src="https://picsum.photos/seed/1/405/405" alt="[photo alt text]" class="shortcut__image" width="405" height="405" />
					</figure>

					<p class="shortcut__copy">Affordability</p>

				</a>
			</li>
			<li class="shortcut__item">
				<a href="#2" class="shortcut__link">

					<figure class="shortcut__figure">
						<img src="https://picsum.photos/seed/2/405/405" alt="[photo alt text]" class="shortcut__image" width="405" height="405" />
					</figure>

					<p class="shortcut__copy">Diversity & Inclusion</p>

				</a>
			</li>
			<li class="shortcut__item">
				<a href="#3" class="shortcut__link">

					<figure class="shortcut__figure">
						<img src="https://picsum.photos/seed/3/405/405" alt="[photo alt text]" class="shortcut__image" width="405" height="405" />
					</figure>

					<p class="shortcut__copy">Visit CWU</p>

				</a>
			</li>
			<li class="shortcut__item">
				<a href="#4" class="shortcut__link">

					<figure class="shortcut__figure">
						<img src="https://picsum.photos/seed/4/405/405" alt="[photo alt text]" class="shortcut__image" width="405" height="405" />
					</figure>

					<p class="shortcut__copy">Apply Today</p>

				</a>
			</li>
			
		</ul>
		
	</div>
</section>
