

<ul class="slick-dots">
	<li class="slick-active">
		<button type="button" aria-current="true"><span class="slick-dot-icon" aria-hidden="true"></span><span class="slick-sr-only">Go to slide 1</span></button>	
	</li>
	<li>
		<button type="button"><span class="slick-dot-icon" aria-hidden="true"></span><span class="slick-sr-only">Go to slide 2</span></button>
	</li>
	<li>
		<button type="button"><span class="slick-dot-icon" aria-hidden="true"></span><span class="slick-sr-only">Go to slide 3</span></button>
	</li>
	<li>
		<button type="button"><span class="slick-dot-icon" aria-hidden="true"></span><span class="slick-sr-only">Go to slide 4</span></button>
	</li>
	<li>
		<button type="button"><span class="slick-dot-icon" aria-hidden="true"></span><span class="slick-sr-only">Go to slide 5</span></button>
	</li>
	<li>
		<button type="button"><span class="slick-dot-icon" aria-hidden="true"></span><span class="slick-sr-only">Go to slide 6</span></button>
	</li>
</ul>
