

<section class="standalone standalone--narrow component">

	
	<figure class="video">

	<img src="https://picsum.photos/1264/711" alt="[image alt text]" class="video__poster" width="1264" height="711" />
	
	<a href="https://www.youtube.com/watch?v=J5OSRpRyl6g" class="btn btn--xlarge play-button">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-play" focusable="false">
				<use href="#brei-icon-play"></use>
			</svg>
		</span>	
		<span class="show-for-sr">Play video</span>
</a>
	
</figure>

</section>
