

<div class="stats stats--narrow component">

	<h2 class="stats__heading font-h2">Stats H2 Headline Lorem Ipsum</h2>

	<hr />

	<p class="stats__copy font-big">Structured copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

	<div class="stats__list">

		<div class="stats__card stats__card--digits">

			<h3 class="stats__info"><span>0000</span></h3>

			<h4 class="stats__headline font-h4">Stat Headline H4 45 Char Max Lorem</h4>

			<p class="stats__description">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

			<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>

		</div>
		<div class="stats__card stats__card--words">

			<h3 class="stats__info"><span>Stats 25 Char Lorem Ipsum</span></h3>

			<h4 class="stats__headline font-h4">Stat Headline H4 45 Char Max Lorem</h4>

			<p class="stats__description">Structured body copy 125 characters lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

			<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>

		</div>
		<div class="stats__card stats__card--standalone">

			<h3 class="stats__info"><span>0000</span></h3>

			<h4 class="stats__headline font-h4">Stat Headline H4 45 Char Max Lorem</h4>

			

			

		</div>

	</div>

</div>
