

<div class="stats stats--home animateOnce component">

	<div class="stats__wrapper wrapper">

		<h2 class="stats__heading font-h1">CWU by the Numbers</h2>

		<div class="stats__list">

			<div class="stats__card stats__card--standalone">

				<h3 class="stats__info"><span>10K</span></h3>

				<h4 class="stats__headline font-h5">full-time Wildcats</h4>

				

				

			</div>
			<div class="stats__card stats__card--standalone">

				<h3 class="stats__info"><span>80%</span></h3>

				<h4 class="stats__headline font-h5">of students receive financial aid</h4>

				

				

			</div>
			<div class="stats__card stats__card--standalone">

				<h3 class="stats__info"><span>20/1</span></h3>

				<h4 class="stats__headline font-h5">student to faculty ratio</h4>

				

				

			</div>
			<div class="stats__card stats__card--standalone">

				<h3 class="stats__info"><span>125+</span></h3>

				<h4 class="stats__headline font-h5">student organizations</h4>

				

				

			</div>

		</div>

	</div>

</div>
