

<div class="storytelling storytelling--wide component">
	<div class="storytelling__wrapper">

		<figure class="storytelling__image">
	
			<img src="https://via.placeholder.com/836x627" alt="[image alt text]" width="836" height="627" />

			

		</figure>

		<div class="storytelling__content">
	
			<blockquote class="storytelling__quote">
		
				<p class="storytelling__copy">Pull quote copy 200 characters orem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod <strong>tempor incid idunt ut labore et dolore</strong> magna aliqua. Nisi lacus sed viverra tellus in hac habitasse.</p>

				<cite class="storytelling__cite">
					<span>Firstname Lastname</span>
					<span>Pronouns</span>
					<span>Program</span>
				</cite>

			</blockquote>

			<a href="#" class="btn btn--cta">
		<span class="text">Tertiary Button</span>
</a>
		
		</div>

	</div>

</div>


