

<section class="table component">

	<h2 class="table__title font-h2">Non-WYSIWYG table H2 headline lorem ipsum</h2><hr />
	<div class="table__copy user-markup"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p></div>

	<div class="table__table">
		<table>
			<thead>
				<tr>
					<th>Column Header</th>
					<th>Column Header</th>
					<th>Column Header</th>
					<th>Column Header</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
				</tr>
				<tr>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
				</tr>
				<tr>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
				</tr>
				<tr>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
				</tr>
				<tr class="highlight">
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</section>
