

<section class="table component">

	<h2 class="table__title font-h2">Non-WYSIWYG table H2 headline lorem ipsum</h2><hr />
	<p class="table__copy font-body">Structured body copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

	<div class="table__table">
		<table>
			<thead>
				<tr>
					<th>Column Header</th>
					<th>Column Header</th>
					<th>Column Header</th>
					<th>Column Header</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
				</tr>
				<tr>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
				</tr>
				<tr>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
				</tr>
				<tr>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
				</tr>
				<tr class="highlight">
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
					<td>Lorem Ipsum Dolor Sit Amet</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</section>
