

<div id="js-takeover" class="takeover" aria-modal="false" role="alertdialog">
	
	<div class="takeover__inner wrapper grid-x grid-margin">

		<div class="takeover__content cell xsmall-12 large-10 large-offset-1">
		
			<span class="takeover__icon" aria-hidden="true">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use href="#brei-icon-warning"></use>
			</svg>
		</span>
		
			<h1 class="takeover__title font-h2">Emergency Takeover H2 Headline Lorem Ipsum</h1>

			<div class="takeover__copy user-markup"><p>WYSIWYG body copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p></div>
		
			<a href="#" class="btn btn--primary btn--with-icon">
		<span class="text">Primary Button</span>
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-arrow" focusable="false">
				<use href="#brei-icon-arrow"></use>
			</svg>
		</span>	
</a>
			
		</div>

	</div>
	
	<a href="#" id="close" aria-label="Close alert dialog" class="btn btn--small takeover__close">
		<span class="btn__icon">
			<svg class="brei-icon brei-icon-minus" focusable="false">
				<use href="#brei-icon-minus"></use>
			</svg>
		</span>	
</a>	

</div>
<script>
	let takeoverModTime = 1680888649002;
</script>
