

		<div class="form__field">
			<input type="text" required="required" id="text-field" name="text-field"/>
			<label for="text-field">Enabled/Required</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
				<div class="form__help-message">123-123-1234</div>
		</div>
		<div class="form__field">
			<input type="text" id="text-field-2" name="text-field-2"/>
			<label for="text-field-2">Enabled/Optional</label>
		</div>

