

		<div class="form__field">
			<textarea name="textarea" id="textarea" required="required"></textarea>
			<label for="textarea">Enabled/Required</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
				<div class="form__help-message">Leave a comment</div>
		</div>
		<div class="form__field">
			<textarea name="textarea" id="textarea" required="required" maxlength="45"></textarea>
			<label for="textarea">Enabled/Required/Max</label>
				<div class="form__valid-icon">
			<svg class="brei-icon brei-icon-check" focusable="false">
				<use href="#brei-icon-check"></use>
			</svg>
		</div>
				<div class="form__error-icon">
			<svg class="brei-icon brei-icon-warning" focusable="false">
				<use href="#brei-icon-warning"></use>
			</svg>
		</div>
				<div class="form__error-message">Field is required</div>
				<div class="form__help-message">Leave a comment</div>
		</div>
		<div class="form__field">
			<textarea name="textarea-2" id="textarea-2"></textarea>
			<label for="textarea-2">Enabled/Optional</label>
		</div>

