

<div class="block my-8 user-markup">
	<h1 class="font-specialty-1">Specialty 1 - Inter ExtraBold</h1><br />
	<h1 class="font-specialty-2">Specialty 2 - Inter ExtraBold</h2>
</div>

<div class="block my-8 user-markup">
	<h1 class="font-h1">Heading Level 1 - Inter SemiBold</h1><br/>
	<h2 class="font-h2">Heading Level 2 - Inter SemiBold</h2><br/>
	<h3 class="font-h3">Heading Level 3 - Inter Medium</h3><br/>
	<h4 class="font-h4">Heading Level 4 - Inter Medium</h4><br/>
	<h5 class="font-h5">Heading Level 5 - Inter Medium</h5><br/>
	<h6 class="font-h6">Heading Level 6 - Inter Medium</h6>
</div>

<div class="block my-8">
	<div class="font-intro">Intro - Lora Regular<br />
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut eum ipsam nulla pariatur placeat recusandae velit, veniam vero voluptate. Aliquam aut exercitationem id, nisi possimus quasi quibusdam tenetur totam.</p>
	</div>
</div>

<div class="block my-8">
	<div class="font-body">Body - Inter Regular<br/>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut eum ipsam nulla pariatur placeat recusandae velit, veniam vero voluptate. Aliquam aut exercitationem id, nisi possimus quasi quibusdam tenetur totam.</p>
	</div>
</div>

<div class="block my-8">
	<span class="font-caption">Caption - Lora Semibold Italic</span>
</div>

<div class="block my-8">
	<span class="font-button">Button - Inter Bold</span>
</div>

<div class="block my-8">
	<span class="font-quote">Quote - Lora Italic</span><br />
</div>

<div class="block my-8">
	<span class="font-subhead">Subhead - Iner Bold</span><br />
</div>

<div class="block my-8">
	<span class="font-overline">Overline - Inter ExtraBold</span>
</div>

<div class="block my-8">
	<span class="font-numeral">Numeral - Inter ExtraBold</span>
</div>
