.callout {
	background-color: $black;
	background-image: url('/img/peak.png');
	background-position: bottom left;
	background-repeat: no-repeat;
	color: $white;
	padding: 40px 16px;

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin: 0 0 12px -3px;
		padding-right: 16px;
		position: relative;
	}

	.menu--tertiary {
		width: 100%;
	}

	@include breakpoint(medium down) {
		background-size: 125% auto;
	}

	@include breakpoint(large) {
		padding: 40px 28px;
	}
}
