$card: '.card';

.card {
	align-items: flex-start;
	background-color: $wild-sand;
	color: $black;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	position: relative;
	transition: background-color $transition-time ease, color $transition-time ease;
	width: 100%;

	&__date {
		// clip-path: polygon(0% 0%, 100% 0%, calc(100% - 12px) 100%, 0% 100%);
		color: $white;
		display: inline-block;
		font-weight: 800;
		margin: 0;
		padding: 4px 40px 4px 24px;
		position: relative;
		text-transform: uppercase;
		z-index: 1;

		span {
			position: relative;
			top: 10px;
		}

		&:after {
			@extend %overlay;
			background-color: $black;
			content: '';
			transform: skewX(-12.5deg);
			transform-origin: top right;
			z-index: -1;
		}
	}

	&__figure {
		background: transparent;
		overflow: hidden;
		position: relative;
		width: 100%;
		z-index: 3;
	}

	&__image {
		@extend %overlay;
		object-fit: cover;
		object-position: center center;
		transition: transform $transition-time ease;
		z-index: 1;
	}

	&__content {
		align-items: flex-start;
		background-color: $wild-sand;
		display: flex;
		flex-flow: column;
		flex-grow: 1;
		justify-content: flex-start;
		padding: 48px 24px 64px;
		position: relative;
		transition: background-color $transition-time ease;
		width: 100%;
		z-index: 2;
	}

	&__type {
		// background-color: $black;
		// clip-path: polygon(4px 0%, 100% 0%, calc(100% - 4px) 100%, 0% 100%);
		color: $white;
		display: inline-block;
		font-size: 16px;
		font-weight: 800;
		line-height: 1;
		padding: 6px 6px 5px 12px;
		position: relative;
		text-transform: uppercase;

		&:after {
			@extend %overlay;
			background-color: $black;
			content: '';
			transform: skewX(-12.5deg);
			transform-origin: bottom left;
			z-index: -1;
		}
	}

	&__heading {
		margin-bottom: auto;
		padding-bottom: 16px;
	}

	&__subheading {
		margin-bottom: 24px;
	}

	&__contact-list {
		list-style-type: none;
		margin: 0 0 16px;
		padding: 0;
	}

	&__contact-item {
		font-size: 16px;
		font-weight: 800;
		line-height: 1;

		a {
			position: relative;

			&:after {
				background-color: currentcolor;
				bottom: -3px;
				content: '';
				height: 3px;
				left: 0;
				position: absolute;
				transition: width $transition-time ease;
				width: 0;
			}

			&:link,
			&:visited {
				color: currentcolor;
			}

			&:hover,
			&:active,
			&:focus-visible {
				color: currentcolor;

				&:after {
					width: 100%;
				}
			}
		}

		+ & {
			margin-top: 16px;
		}
	}

	&__info {
		font-size: 16px;
		line-height: 1.2;
		margin: 0;
		opacity: 0.75;
		transition: opacity $transition-time ease;
	}

	.btn--cta {
		margin-top: 20px;
	}

	&__link {
		@extend %overlay;
		z-index: 5;

		&:focus-visible {
			outline: 0;
		}
	}

	&:hover {
		background-color: $cwu-crimson;
		color: $white;

		#{$card}__image {
			transform: scale(1.1);
		}

		#{$card}__content {
			background-color: $cwu-crimson;
		}

		#{$card}__info {
			opacity: 1;
		}

		.btn--cta {
			--text: #{$white};
		}
	}

	&:focus-within {
		background-color: $cwu-crimson;
		color: $white;

		#{$card}__image {
			transform: scale(1.1);
		}

		#{$card}__content {
			background-color: $cwu-crimson;
		}

		#{$card}__info {
			opacity: 1;
		}

		a.btn--cta {
			--text: #{$white};
		}

		p.btn--cta {
			--text: #{$black};
		}
	}

	&--event,
	&--news,
	&--program {
		@extend %fake-cta-actions;
	}

	@include breakpoint(large) {
		&__date {
			padding: 4px 44px 4px 32px;

			span {
				top: 11px;
			}
		}

		&__content {
			padding: 56px 32px;
		}

		&__heading {
			padding-bottom: 28px;
		}

		.btn--cta {
			margin-top: 28px;
		}
	}
}

#{$card}--event {
	overflow: hidden;

	#{$card}__content {
		padding: 36px 24px 64px;
	}

	@include breakpoint(large) {
		#{$card}__content {
			padding: 30px 32px 56px;
		}
	}
}

#{$card}--faculty {
	#{$card}__figure {
		@extend %inset-bottom-edge;
		@extend %inset-bottom-border;
		// aspect-ratio: 1;
		padding-bottom: 100%;
	}

	#{$card}__content {
		@extend %inset-top-edge;
		margin-top: -24px;
		padding-top: 72px;
		z-index: 3;
	}

	#{$card}__image {
		@extend %inset-bottom-image;
	}
}

#{$card}--news {
	#{$card}__figure {
		@extend %inset-bottom-edge;
		@extend %inset-bottom-border;
		// aspect-ratio: 1.333;
		padding-bottom: 75%;
	}

	#{$card}__content {
		@extend %inset-top-edge;
		margin-top: -24px;
		padding-top: 72px;
		z-index: 3;
	}

	#{$card}__image {
		@extend %inset-bottom-image;
	}
}

#{$card}--program {
	#{$card}__figure {
		// aspect-ratio: 1;
		padding-bottom: 100%;
	}
}

#{$card}--standalone {
	@include breakpoint(large) {
		display: flex;
		flex-flow: row nowrap;

		#{$card}__figure {
			padding-bottom: 50%;
		}
	}
}
