.keyword {

	.form__field--is-search {
		margin-bottom: 0;

		input[type='search'] {
			~ label {
				max-width: calc(100% - 60px);
				overflow-x: hidden;
				text-transform: none;
				white-space: nowrap;
			}
		}
	}

	@include breakpoint(medium down) {
		background-color: $mercury;
		margin-bottom: 40px;
		padding: 0 20px 20px;

		.form__field--is-search {
			input[type='search'] {
				padding: 3.75px 60px 5.75px 20px;

				~ label,
				&:not([disabled])[required]:valid ~ label,
				&:not([disabled]):focus ~ label {
					display: none;
				}
			}

			.search-button {
				font-size: 20px;
				width: 44px;
			}
		}
	}

	@include breakpoint(large) {
		margin-bottom: 48px;

		input[type='search'] {
			&::placeholder {
				color: transparent;
				opacity: 0;
			}
		}
	}
}
