.nav-secondary {
	$this: &;

	&__heading {
		// stylelint-disable declaration-no-important
		align-items: center;
		border: 0 !important;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		// stylelint-enable declaration-no-important

		&:link,
		&:visited {
			background: transparent;
			color: $black;
			text-decoration: none;

			#{$this}__label {
				background-size: 0 2px;
			}
		}

		&:hover,
		&:active {
			background: transparent;
			color: $black;
			text-decoration: none;

			#{$this}__label {
				background-size: 100% 2px;
			}
		}

		&:focus-visible {
			background: transparent;
			color: $black;
			outline: 0;
			text-decoration: none;

			#{$this}__label {
				background-color: $cwu-yellow;
				background-image: none;

				&:before,
				&:after {
					background-color: currentcolor;
					background-image: none;
					content: '';
					display: block;
					height: 4px;
					left: 0;
					opacity: 0;
					opacity: 1;
					position: absolute;
					right: 0;
					z-index: -1;
				}

				&:before {
					top: -8px;
				}

				&:after {
					bottom: -8px;
				}
			}
		}

		&:before {
			display: none;
		}

		svg {
			font-size: 20px;
			transform: rotate(90deg);
		}

		&[aria-expanded='true'] {
			svg {
				transform: rotate(-90deg);
			}
		}
	}

	&__label {
		background-image: linear-gradient(90deg, currentcolor 0%, currentcolor 100%);
		background-position: bottom left;
		background-repeat: no-repeat;
		background-size: 0% 2px;
		color: $black;
		flex-grow: 1;
		flex-shrink: 1;
		font-family: $inter;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		line-height: 1.6;
		margin-right: 13px;
		padding: 0 3px 0 0;
		position: relative;
		position: relative;
		transition: background-size $transition-time ease;
		z-index: 1;
	}

	&__content {
		border: 1px solid $black;
		border-width: 0 1px 1px;
		padding: 0;
	}

	&__children {
		margin: 0;
	}

	&__grandchildren {
		margin: 0 16px;
	}

	&__child,
	&__grandchild {
		border-top: 1px solid $black;
		margin: 0;

		> a,
		> span {
			display: block;
			font-size: 16px;
			line-height: 1.2;
			padding: 6px 16px;
		}

		> a {
			background-image: linear-gradient(90deg, $black 50%, transparent 50%);
			background-size: 205% 100%;
			font-weight: 400;
			transition: background-position $transition-time ease, color $transition-time ease;

			&:link,
			&:visited {
				background-position: right center;
				color: $black;
			}

			&:hover,
			&:focus-visible,
			&:active {
				background-position: left center;
				color: $white;
			}
		}

		> span {
			font-weight: 700;
		}
	}

	@include breakpoint(medium down) {
		background-color: $wild-sand;
		padding: 8px 0 16px;

		&__list {
			background: transparent;
		}

		&__item {
			border-top: 1px solid $black;
			padding: 16px 0;

			> .menu--audience {
				width: 100%;
			}

			&:first-child {
				border-top: 0;
			}

			&.accordion-item {
				padding: 0;
			}
		}

		&__heading {
			padding: 16px 16px 16px 0;
		}

		&__content {
			margin-bottom: 16px;
		}
	}

	@include breakpoint(large) {
		&__list {
			align-items: center;
			display: inline-flex;
			flex-flow: row nowrap;
			justify-content: space-between;
		}

		&__heading,
		&__item {
			border-right: 1px solid $black;
			flex-shrink: 0;
			padding: 0 8px 0 16px;
			position: relative;
		}

		&__content {
			margin-top: 8px;
			position: absolute;
			width: 200px;
			z-index: 1022;
		}
	}
}
