.component {
	margin-top: 48px;
	width: 100%;

	+ * {
		margin-top: 48px;
	}

	@include breakpoint(large) {
		margin-top: 120px;

		+ * {
			margin-top: 120px;
		}
	}
}

.container {
}

.content {
	@include breakpoint(large) {
		.component {
			margin-top: 72px;

			&:first-child {
				margin-top: 0;
			}

			+ * {
				margin-top: 72px;
			}
		}
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 1920px;
	padding: 0 16px;
	width: 100%;

	&--no-padding {
		padding: 0;

		@include breakpoint(large) {
			padding: 0;
		}
	}

	@include breakpoint(large) {
		padding: 0 5%;
	}

	@include breakpoint(1920px) {
		padding: 0;
		width: $global-width;
	}
}

.main {
}

.rail {
	position: relative;

	@include breakpoint(large) {
		padding-right: 16px;

		.component {
			margin-top: 64px;

			&:first-child {
				margin-top: 0;
			}

			+ * {
				margin-top: 64px;
			}
		}
	}

	@include breakpoint(xlarge) {
		padding-right: 4.1666%;
	}

	@include breakpoint(xxlarge) {
		padding-right: 8.3333%;
	}
}
