<a href="{{url}}" class="chip" data-key="{{filterkey}}">
	<span class="chip__close">
		<span class="show-for-sr">Remove this filter</span>
		{{svg "close"}}
	</span>
	<span class="chip__label">
		{{label}}
	</span>
</a> 