<div class="tooltip__wrapper">

	<button type="button" class="tooltip{{#if style}} {{ style }}{{/if}}" data-tooltip-content="{{{ copy }}}"{{#if isDisabled}} tabindex="-1"{{/if}}>
		<span class="tooltip__text" role="presentation">?</span>
	</button>

</div>
