<style>
	p {
	  margin-bottom: 1em;
	}
	
	.spacing {
		background-color: black;
		margin-right: 1em;
	}
</style>

<div class="block my-8 user-markup">

	<p><span class="spacing spacing--0"> </span> Spacing 0 / 4px</p>
	<p><span class="spacing spacing--1"> </span> Spacing 1 / 8px</p>
	<p><span class="spacing spacing--2"> </span> Spacing 2 / 16px</p>	
	<p><span class="spacing spacing--3"> </span> Spacing 3 / 24px</p>	
	<p><span class="spacing spacing--4"> </span> Spacing 4 / 32px</p>	
	<p><span class="spacing spacing--5"> </span> Spacing 5 / 40px</p>	
	<p><span class="spacing spacing--6"> </span> Spacing 6 / 48px</p>	
	<p><span class="spacing spacing--7"> </span> Spacing 7 / 56px</p>	
	<p><span class="spacing spacing--8"> </span> Spacing 8 / 64px</p>	
	<p><span class="spacing spacing--9"> </span> Spacing 9 / 72px</p>
	<p><span class="spacing spacing--9"> </span> Spacing 10 / 80px</p>		
	<p><span class="spacing spacing--12"> </span> Spacing 12 / 96px</p>
	<p><span class="spacing spacing--15"> </span> Spacing 15 / 120px</p>		
	<p><span class="spacing spacing--20"> </span> Spacing 20 / 160px</p>

</div>